[2019-07-09 19:43] f-f commented on #306
I wouldn't like Spago to have logic to do this, since:
- it's not part of "normal operating mode" (i.e. it's a custom thing you want to do with your projects but not a thing I'd normally suggest)
- it can be done with 10 lines of bash/perl/python/sed to customize the result to your liking (this is the same rationale as with #150)

What we can do is to expose a `dhall` interpreter from Spago, so yo

[2019-07-09 21:55] f-f commented on #287
Update: since [v0.13.2](https://github.com/purescript/purescript/releases/tag/v0.13.2) is out with the fix for purescript/purescript#3653 it looks like we can even skip the flag and just add the project sources here 🎉

[2019-07-10 08:50] f-f commented on #306
Another interesting solution for this could be to have a flag for `spago init` (e.g. `--local`) that would initialize a project that has the whole package set already in `packages.dhall` instead of importing it (and this can have that shape that you want)

@justinwoo would this work?

[2019-07-10 10:22] justinwoo commented on #306
right, that would probably be fine

[2019-07-10 10:23] f-f commented on #306
Awesome, I'll rename the issue to track this then!

[2019-07-10 10:24] f-f commented on #172
@jmackie I opened #309 to fix this (and it will work correctly in all cases once #301 gets in too), could you try that branch and see if it works for you?

[2019-07-10 12:07] #276 closed

[2019-07-10 12:07] #287 closed

[2019-07-10 15:31] f-f commented on #203
This was fixed in #289, thanks @Dretch!

[2019-07-10 15:31] #203 closed

[2019-07-10 22:41] sharno opened #312 "Error: was not able to get a directory for the global cache (Windows)"
On a Windows machine, I installed spago using npm

[code]

I get this error with `spago install` or `spago build`
[code]

[2019-07-11 01:05] bbarker opened #313 "Can't find module sources for *dependency* that has nonstandard location"
I have a dependency (that I wrote) with the project under REPO_ROOT/app.

But when I try to use this from spago, I get:

[code]

It notes that it is searching in `.spago/metajelo-web/v1.0.1/src/**/*.purs`, but should be searching under `.spago/metajelo-web/v1.0.1/src/**/*.purs`:

[code]

I saw that it is possible to define the source location for the builds of a current project, but shouldn't this

[2019-07-11 05:55] f-f commented on #313
@bbarker sources for dependencies are searched in the `src` of every package, and this is hardcoded because it's a convention in the ecosystem (I.e. also other tools make this assumption)

For more context see #288

[2019-07-11 05:59] f-f commented on #312
Hi @sharno! This is a normal error condition, and in fact the error message is telling you that you should define either the `HOME` or the `XDG_CACHE_HOME` environment variable, and point it to a path where Spago can put its global cache

If this makes sense, how can we make this error message clearer?

In any case you should be able to disable the global cache with `--no-global-cache`

[2019-07-11 10:46] bbarker commented on #313
Thanks, that's an interesting thread, lots to think about. Will try one of the immediate solutions for now. I'll probably try having a separate git repo for publishing, using your suggestion to pull in the code from the mono repo.

[2019-07-11 11:43] f-f commented on #313
@bbarker if you have a monorepo and you are the only consumer of these packages we could introduce reading the `sources` key from the locally imported packages' `spago.dhall` (in #301)

Would this work for you?

[2019-07-11 12:28] bbarker commented on #313
Effectively I am the only consumer, though in principle there could be other consumers. Right now, I have two mono repos, and one depends on the other. They are mono repos because each repo has a test "project" in the repo as well. so each Repo is like:

[code]

I'll take a closer look at the options when I get into the office, thanks for pointing this out.

[2019-07-11 12:30] bbarker commented on #313
I'll just quickly note that my confusion came from the fact that I believed I could have bower.json, etc in the `REPO/app` directory and everything would be happy with regard to bower publishing.

[2019-07-11 14:16] f-f commented on #313
@bbarker if you just move your sources from `app/src` to just `src` everything should work then? (i.e. you can keep the tests where they are)

[2019-07-11 14:19] bbarker commented on #313
@f-f That's a very good point! I should have thought of that, will give it a try.

[2019-07-11 14:34] bbarker commented on #313
Getting there, still fixing some things up, but one thing I noticed is that `test` should be moved to e.g. `tests`, otherwise Spago will try to build what is in there at the same time, which can be a problem if you have a `Main` module in both places.

[2019-07-11 15:27] bbarker commented on #313
OK, that works; summary: for these pseudo-mono-repo projects, use `REPO/src` and a test directory **other than** `REPO/test`; here's [a commit](https://github.com/labordynamicsinstitute/metajelo-web/commit/93f2f18c128302f1bccc40efc1eb9dabbd4078d6) documenting my changes, though probably only of interest to me.

Would it be useful to add this information to the README [where tests are discussed wit

[2019-07-11 15:27] #313 closed

[2019-07-11 15:44] f-f commented on #313
@bbarker I believe then you're on an old version of Spago, in the latest you should get a `sources` key in the `spago.dhall` so you decide which sources are included in the build

[2019-07-11 15:52] bbarker commented on #313
Ah yes, I'm on 0.8.5.0

On Thu, Jul 11, 2019 at 11:44 AM Fabrizio Ferrai <notifications@github.com>
wrote:

--
Brandon Barker
brandon.barker@gmail.com

[2019-07-12 01:28] sharno commented on #312
Hi @f-f , thanks for your reply

I think on Windows the environment variable is called `HomePath` instead of just `HOME`. Which points generally to `\Users\{username}` where I find most of the tools' cache folders like `.sbt` or `.stack`

http://environmentvariables.org/HomePath

Otherwise maybe the error should specify explicitly that `HOME` or `XDG_CACHE_HOME` or `HomePath` (if added) are enviro

[2019-07-12 08:44] f-f commented on #312
@sharno thanks! Fix up in #314 🙂

[2019-07-12 16:00] sharno commented on #312
@f-f  Thanks a lot for the quick fix :)

Just one more thing, everything worked fine after I added the environment variable. But when I tried without it but with `--global-cache=skip` or `--global-cache skip` it still throws the same error. Thought I'd mention in case if it's a different bug?

[2019-07-13 10:02] f-f commented on #312
@sharno you're welcome! 🙂

Yeah it's a known problem. I looked into disabling the whole logic for global cache (which is probably the right thing to do) if this failed, but at this point there are too many code changes in flight that touch nearby code, so what I did in #314 was to always make this operation succeed, so we shouldn't encounter this error ever again :)

[2019-07-13 10:03] #312 closed

[2019-07-13 11:21] justinwoo opened #316 "Build messages with spago run should go to stderr"
So I can do `spago run > my-output-only-pls.txt`

related to #256

[2019-07-13 11:23] f-f commented on #316
@justinwoo since we just let the output of the compiler through this is more related to https://github.com/purescript/purescript/issues/3672 right?

Or should we just pour all the output from the compiler to stderr?

[2019-07-13 11:24] justinwoo commented on #316
I would like that too, redirecting all of the compiler output to stderr

[2019-07-13 11:36] f-f commented on #316
@justinwoo oh right, I just realised that you'd like _all_ the output from spago to go to `stderr`

[2019-07-14 18:55] menelaos opened #318 "Running `spago init` twice overwrites `packages.dhall`"
Steps to reproduce:
1. `spago init`
2. Modify `packages.dhall`
3. `spago init`

The second `spago init` overwrites the modified `packages.dhall` file.
It looks like the bug was introduced in [this PR](https://github.com/spacchetti/spago/pull/180/files) (changing `die` to `echo` in `makePackageSetFile`).

[2019-07-14 21:58] f-f commented on #306
I'll close this as we agreed with @justinwoo that we'll instead start publishing a rendered version of `packages.dhall` as an artifact on every release of `purescript/package-sets`

[2019-07-14 21:58] #306 closed

[2019-07-14 23:14] justinwoo opened #319 "Template should use release package-sets"
https://github.com/justinwoo/test-package-sets-releases-packages-dhall

[code]

to

[code]

[2019-07-14 23:16] justinwoo opened #320 "Remove mkPackage from template"
mkPackage, the little function that never quite was :cry: :trumpet: (<-- this plays Taps, or auld lang syne, depending on your religion)

https://github.com/purescript/package-sets/pull/399

[2019-07-15 04:54] f-f commented on #319
I changed it in #315 as I thought it was the reason for the Windows failure, and then didn't change it back when merging

[2019-07-15 05:01] f-f commented on #320
While I have no solution for the emoji rebus, I think we should also output a warning for folks that still have it in their `packages.dhall` (i.e. either traverse the AST or just grep searching for "mkPackage"), so that they can migrate and we can remove it from package-sets when releasing 1.0

[2019-07-15 06:10] f-f commented on #318
Fix up in #321

[2019-07-15 16:11] #318 closed

[2019-07-16 20:28] dlight commented on #65
Just in case it's useful for someone, I ended up writing this script

[code]

It runs Spago on the foreground to enable running commands, like `build`. Parcel hangs if there's no app.js file (even if one is created later), that's why it needs this sleep. I wanted Spago to drive Parcel in order to avoid those kinds of quirks (however, this wouldn't work with `parcel serve` anyway).

The commented o

[2019-07-16 20:33] f-f commented on #65
@dlight just curious about your use-case: why is it a requirement to avoid running two long-lived processes for the watchers?

Also you might be interested in https://github.com/spacchetti/spago/issues/134 which discusses a possible integration with Parcel (so if that would exist you'd only need to run Parcel and it would call the relevant Spago stuff or keep a watcher and run things in order, etc

[2019-07-17 14:43] #172 closed

[2019-07-17 23:27] dlight commented on #65
@f-f I just wanted to avoid opening two terminal tabs, that's all

And, integration with Parcel sounds awesome!

[2019-07-19 06:36] #319 closed

[2019-07-19 06:36] #320 closed

[2019-07-19 06:57] f-f commented on #256
Update: as we figured in #316, there is also the output from external commands, e.g. `purs`, getting in the way sometimes. So I think we should just output _all_ logging to `stderr` (including piping output from external commands) except when printing actual "business" output (e.g. in case of `spago sources`, `spago list-packages`, `spago run`, etc)

I think we should just remove the current print

[2019-07-19 06:58] f-f commented on #316
Closing this as duplicated of #256, as I reported all the relevant things from here in https://github.com/spacchetti/spago/issues/256#issuecomment-513116049

[2019-07-19 06:58] #316 closed

[2019-07-22 21:34] justinwoo opened #328 "Test scaffold should use Effect.Class.Console"
[code]

pros:
* i can add Aff.launchAff_ without having to delete imports

cons:
* more people need to learn the polymorphisms

[2019-07-22 21:55] justinwoo opened #329 "Specify config path"
Since we can make more specific configs based off of spago.dhall, we should be able to specify specific configs.

Example:

MunProjekti420 has the following files:

[code]

I would like to build and run only src/Main.purs, but non ni, Generated and Test.Main ovat rikki.

Jesusteippilla:

[code]

Kaunis. Nyt voimme rakentaa projektimme rauhassa.

[code]

[2019-07-22 21:58] f-f commented on #328
I don't really have an opinion on this, if you open a PR it's fine by me (also I think you're the original author of the scaffoldings, so go for it)

[2019-07-22 22:01] f-f commented on #329
@justinwoo if you don't want me to answer in Italian please stick to English so everyone can read this 😉

To answer your question: the "spago workflow" for this is to use the [monorepo support](https://github.com/spacchetti/spago#separate-devdependencies-or-test-dependencies), so you make your `kekkonen` folder and put a `spago.dhall` in there.

I wouldn't like to make the config name configurable

[2019-07-23 12:45] justinwoo commented on #329
The monorepo idea really doesn't work for making libraries, and is overall not really desirable. It seems like this is basically the equivalent of what people want with "development dependencies/tests" also, but without requiring any file juggling. Otherwise, users could come up with horrible Makefile hell to shuffle different spago.dhall files and/or move the output directory around, but that doe

[2019-07-23 14:08] justinwoo opened #330 "Add `--deps-only` flag to `spago build`"
Many times you will change deps in your project, and want to then interactively fix your codebase.

[2019-07-23 14:13] f-f commented on #330
@justinwoo could you detail an example?

[2019-07-23 14:31] justinwoo commented on #330
[code]

if you remove deps you don't want in your project, your project doesn't build anymore. however, you still want to actually develop interactively at the leaf modules of your codebase.

[2019-07-23 14:47] f-f commented on #330
I'm not sure I understand how this can happen. Assuming you have dependencies `a`, `b`, `c` and your project builds using all of them:
- if you remove `a` then your project stops building. It doesn't make sense to rebuild only dependencies because the dependencies have already been built once
- if you add `d` then your project should rebuild just fine even if you include project code

[2019-07-23 14:49] justinwoo commented on #330
This is also a problem when you upgrade packages, which is the equivalent of removing a package to add another.

[2019-07-23 14:50] justinwoo commented on #330
Another crucial detail is that it's not like all non-project sources will be built guaranteed, especially if module headers are parsed first and the compiler determines that there are no valid build plans (for good reason)

[2019-07-23 14:51] justinwoo commented on #330
Really, the only actual workaround for this missing feature is to `rm -rf src test && spago build && git checkout .`

[2019-07-23 19:24] f-f commented on #330
We had a IRL chat with @justinwoo and it turns out the reason why you want to compile deps-only is for cases in which you:
- switch branches and there's a significant diff of deps
- update dependencies that introduce breakage

..and still want your `purs ide` to give you meaningful suggestions.

So you'd do `spago build --deps-only` and then start `purs ide`

[2019-07-24 13:28] #330 closed

[2019-07-24 19:50] #328 closed

[2019-07-26 06:41] #240 closed

[2019-07-27 09:25] LiamGoodacre commented on #300
The above PR is merged, should this ticket be closed?

[2019-07-27 11:17] f-f commented on #300
@LiamGoodacre: upon further investigation I realized that the "autoformatting" is happening because we're trying to migrate old configs without checking if they are using the old schema - this is effectively idempotent except it reformats the file

So I think we should get rid of the flag and just write the file if it's effectively needed (that is, Spago doesn't want to reformat your files, but it

[2019-07-27 11:27] LiamGoodacre commented on #300
That makes sense, thanks!

[2019-07-27 12:25] f-f commented on #300
You're welcome 🙂

Note: I'll fix this before the new release (happening any day now)

[2019-07-27 19:34] joneshf commented on #300
Shouldn't it be possible to read an old version without also writing the file out?

[2019-07-27 19:54] f-f commented on #300
@joneshf yes, this is what will happen after 1.0: we'll either not change the config format or just read the files in old config formats

However while we are in "pre-1.0" I'd like to migrate config files to the newest version as mush as we can, so we can deprecate old config formats (and the migration logic itself) and have our "breaking releases" not be distruptive for users

[2019-07-29 08:26] #244 closed

[2019-07-29 09:15] #89 closed

[2019-07-29 13:25] #300 closed

[2019-07-29 14:55] Profpatsch opened #341 "spago run: Print compilation messages to stderr"
`spago run` should be the same as running the program manually, meaning it shouldn’t print build information to `stdout`, but `stderr`.

Related: spacchetti/spago#256

[2019-07-29 14:59] f-f commented on #341
Yup, this is a duplicate of #316 which we closed to consolidate everything in #256 (so I'll close this one too and refer you to https://github.com/spacchetti/spago/issues/256#issuecomment-513116049 which includes an updated summary)

ETA for that one: soon, since it's one of the last blockers left for 1.0

[2019-07-29 14:59] #341 closed

[2019-07-29 19:42] klntsky opened #343 "Improve error message for overriding acceptable compiler version"
It is not clear that the user should put the actual compiler version to the version field of the package. I think the UX can be improved by giving a concrete example in the error message.

Consider the following:

Where "..." stands for the actual version. Or maybe describing the process in plain English would be better.

Also, I think that some special version value like "any" could be used to si

[2019-07-29 19:57] f-f commented on #343
@klntsky

Yep, the change you proposed sounds great!

I'm not too keen on this as it feels like a slippery slope - e.g. if we do this why not do also wildcards, etc. Note that there already is a level of magic to this: e.g. if you're on a package set with `0.13.4`, but on `purs` version `0.13.6`, then Spago will totally let you run the thing. I.e. the one in the package set is the "minimum version

[2019-07-30 04:21] #343 closed

[2019-07-30 08:08] googleson78 opened #346 "Spago run --watch runs(/compiles) twice with vim"
I'm not sure if this is a bug with `spago` or something stemming from my setup (I don't have the same issue with `stack --file-watch` though), so sorry in advance if this is a mistake on my part!

Repro steps:

0. `spago init`
1. `spago run --watch`
2. After the initial run, save `src/Main.purs` (even without modifying it). I use `vim` to do this step.

Expected behaviour:
Files are compiled and r

[2019-07-30 08:20] klntsky commented on #346
My neovim does this too. But not `nano`.
I believe this is related: https://vi.stackexchange.com/questions/11629/set-backupcopy-yes-doesnt-still-writes-the-file-twice

[2019-07-30 09:17] #159 closed

[2019-07-30 15:22] BebeSparkelSparkel opened #347 "additions doc"
Beyond [add-a-package-to-the-package-set](https://github.com/spacchetti/spago#add-a-package-to-the-package-set) I don't see the formats to add a package.

Looking for the way to add a remote github repo from a specific branch.

[2019-07-30 16:26] BebeSparkelSparkel opened #348 "clone with ssh"
When the ssh path for a repo is used spago still successfully verifies the additional package even though it cannot find the package files.

Seems like it would be good to allow ssh links or give a warning that ssh is not supported and to use https instead.

[code]

[code]

[2019-07-31 06:15] f-f commented on #348
@BebeSparkelSparkel are you on the latest version? This is the error I get if I try your example:

[code]

[2019-07-31 06:17] f-f commented on #347
There is this note in [the section just above that one](https://github.com/spacchetti/spago#override-a-package-in-the-package-set-with-a-remote-one):

Would you have any suggestions on how to improve this and make it clearer?

[2019-07-31 10:28] elliotdavies opened #349 "Locate packages.dhall based on spago.dhall"
In `src/Spago/PackageSet.hs` the `ensureFrozen` function looks up the package set and logs a warning if it can't find it: https://github.com/spacchetti/spago/blob/2d349cc7c1ce02769688e136bdf9a3939c04ed35/src/Spago/PackageSet.hs#L302

At the moment the path for this is hard-coded to `packages.dhall` in the same directory: https://github.com/spacchetti/spago/blob/2d349cc7c1ce02769688e136bdf9a3939c04

[2019-07-31 12:06] f-f commented on #349
@elliotdavies yeah, we feel the need for this in our setup too.

I think this is not super hard to fix, but the implementation might get a bit involved. I think there are basically two ways here:
- try to follow the imports from the `spago.dhall` and see if we stumble on a file that has a remote import to the package set
- ..or since Dhall is doing this work already we could implement our version

[2019-07-31 15:02] JordanMartinez opened #350 "[v0.9.0] CLI argument: naming clash in `repl` command"
Notice that both `--deps-only` and `--dependency` both use `-d`.
[code]

[2019-08-01 06:28] googleson78 commented on #346
Thanks!

Setting `backupcopy=yes` resolves this problem, however I am still left wondering what the difference between `spago` and `stack`s file change detection is.

[2019-08-01 06:28] #346 closed

[2019-08-01 07:19] f-f commented on #346
I literally copypasted the implementation from Stack's one, so I'm not sure. I'll take a look

[2019-08-01 08:58] googleson78 opened #351 "Ideas: Allow multiple files as an argument to --path/Allow directories as PATHs"
What do you think about the following two:

0. Allow `--path` to accept multiple `PATH`*s, so that globs can easily be used (e.g. `--path src/**/*.purs`) from a shell
1. Allow `PATH` to be a folder which is (perhaps recursively) included for source search

My use case for both of these is that I have a project with multiple source directories (exercises).
Each exercise has its own `Main.purs`, and

[2019-08-01 09:06] f-f commented on #351
@googleson78 if you prevent the shell from expanding the globs (e.g. by using single quotes) then it will work, e.g.:
[code]

[2019-08-01 09:10] f-f commented on #350
Good catch! Fix up in #352

[2019-08-01 09:11] googleson78 opened #353 "Idea: Separate `purs compile` flags somehow"
What do you think about separating flags passed to `purs compile` explicitly in some way, for example with `--purs-compile-flags=`?

Right now `--help` says you should use `--` if you want to specify that something should go to `purs compile`, but what really confused me is that it is not **mandatory** to separate them with `--`.
Running `spago build src/X.purs src/Y.purs` works fine - which is no

[2019-08-01 09:19] f-f commented on #353
Yeah this sounds like not the ideal behaviour. I'd say we'd want to keep the `--` thing instead of adding this to a flag, but I wonder if we can enforce it somehow? (My optparse-applicative-fu is not good enough to answer this)

This is the code for the passthrough stuff:
https://github.com/spacchetti/spago/blob/2d349cc7c1ce02769688e136bdf9a3939c04ed35/app/Spago.hs#L168

[2019-08-01 09:19] googleson78 commented on #351
Thanks for the quick response!

I guess that is the easiest way. I was just suggesting multiple `PATH`s because iirc `optparse-applicative` easily handles such cases. Feel free to close if neither of those are desirable behaviours for `spago`.

(I can't use `sources` because I have multiple `Main`s. (potentially other clashing names))

[2019-08-01 09:22] f-f commented on #351
You're welcome! 🙂

I'll close this if this solves your usecase, but let's reopen if we find out that this a confusing behaviour

[2019-08-01 09:22] #351 closed

[2019-08-01 10:03] #350 closed

[2019-08-01 14:33] shubhamkumar13 commented on #24
If I had to look where all the commands are created, which file would I look in?

[2019-08-01 20:38] googleson78 commented on #353
According to `man bash` (on my machine) the semantics of `--` is "there will be no more options" (as in "strings that start with a dash are now treated as normal arguments").

[`optparse-applicative`](https://github.com/pcapriotti/optparse-applicative/blob/4a446427f566c8782acde63efa99178e8cb17deb/README.md#arguments) docs also match this - it treats everything after `--` as an argument.
[code]

To

[2019-08-02 03:51] andyarvanitis opened #355 "First class support for alternate backends"
Has there been any discussion of being able to specify the options passed to `purs` in the config file? My particular use case (alternate backends) currently requires `spago build -- -g corefn`, which admittedly isn't bad, but it would be nice to just set it once for a project.

[2019-08-02 06:55] yihuang opened #356 "spago docs ignore failed files."
Currently ``spago docs`` failed on a file, it's probably a ``purs docs`` problem, but I hope spago can ignore the error, and generate docs/tags for other files.

[code]

[2019-08-02 07:26] klntsky commented on #356
Spago passes compile targets to `purs` as globs, not one-by-one.

Did you try `rm -rf output`? If the problem persists, it's best to report it to https://github.com/purescript/purescript

[2019-08-02 07:33] yihuang commented on #356
@klntsky I tried to remove ``output/Data.String.CodeUnits/docs.json``, then it runs ahead, then the error happens again on another module, I do it again for several times, finally it succeeds.

[2019-08-02 09:59] yihuang commented on #356
I've opened the issue in purescript(https://github.com/purescript/purescript/issues/3710), so I'm closing this now.

[2019-08-02 09:59] #356 closed

[2019-08-02 15:00] BebeSparkelSparkel commented on #348
Using 0.8.5.0
I'll upgrade to 0.9.0.0 and try it

[2019-08-03 10:29] justinwoo opened #358 "Remote file not found error is too vague"
[code]

[2019-08-03 14:35] f-f commented on #358
This is an upstream issue that has been just fixed in https://github.com/dhall-lang/dhall-haskell/pull/1188#event-2531287722

[2019-08-03 15:11] BebeSparkelSparkel commented on #348
Thanks 0.9.0.0 throws the error

[2019-08-03 15:11] #348 closed

[2019-08-05 17:40] f-f commented on #355
Hi @andyarvanitis! There has been no discussion about this yet, but so far the trend is that if there are commonly used compiler flags we try to take care of the more general use-case at the spago level rather than just passing them through (because there are issues with the passthrough, e.g. see #353 or #216)

In this case I would be interested in investigating if we can have first-class support

[2019-08-05 18:59] f-f commented on #353
@googleson78 great points. We already have the behaviour you suggest in your first post for the node arguments, so introducing it for `purs` arguments too wouldn't be a too big deal, if we "absorb" into spago interface the most common ones (e.g. as we do for `spago docs --format`)

[2019-08-05 19:43] f-f commented on #24
@shubhamkumar13 great question!

So, all commands are specified in [`app/Spago.hs`](https://github.com/spacchetti/spago/blob/master/app/Spago.hs).
The boilerplate for adding a command consists in (I'll use the `spago verify` command as an example):
- adding [a constructor](https://github.com/spacchetti/spago/blob/77fec6dcb765a4bc93220b308b20930176dd04a7/app/Spago.hs#L58) to the `Command` type
- ad

[2019-08-05 20:07] f-f commented on #346
@googleson78 which OS are you on?

[2019-08-05 20:18] googleson78 commented on #346
Linux (Debian testing)

[2019-08-06 02:43] andyarvanitis commented on #355
That sounds fine to me, and would make it even easier for people to use the alternate backends. The Go backend would probably be a better candidate (than C++) to start with, since its tooling is simpler. I'm still making some adjustments, but I can let you know how it works and what the requirements would be.

[2019-08-06 10:45] f-f commented on #346
@googleson78 could you try the branch from #362?

If that doesn't work you could try tweaking the debounce time [here](https://github.com/spacchetti/spago/pull/362/files#diff-dc77e7cd40666b5c8208568a77cfb050R28)

[2019-08-06 10:53] klntsky commented on #346
May it be so that debounce settings do not apply if a file was deleted and re-created, just like Vim does?

[2019-08-06 11:05] klntsky commented on #346
I tried building from #362 and I still get all `File changed, triggering a build` messages duplicated when using nvim.

[2019-08-06 11:25] f-f commented on #346
Oh right, now it makes sense. Then I cannot figure out why it's different from Stack's behaviour

[2019-08-06 11:33] klntsky commented on #346
Because the code is different (it diverged)

[2019-08-06 11:37] f-f commented on #346
Yeah, though the changes from the original are limited:
- I removed the color stuff
- Generalized from `IO` to `m`
- Wired in our glob stuff
- Removed [this clearing](https://github.com/commercialhaskell/stack/blob/896869ee79d82e3bd9bead30d610ac2bf580cd99/src/Stack/FileWatch.hs#L114) of the dirtiness flag (so you'd get another rebuild if you changed files while the thing was building)

And this la

[2019-08-07 10:35] googleson78 commented on #346
Why did you remove this clearing of a "dirtiness" flag? It seems to me like it would be what saves `stack` (even though it seems to have been added there for a different reason)

[2019-08-08 23:41] cscalfani opened #363 "Is there a way to do what --standalone does in pulp?"
I'd like more control over the execution of main and it seems that I have that with `pulp --standalone <string>`.

[2019-08-09 05:39] f-f commented on #363
@cscalfani I believe this was answered in the chat and `spago bundle-module` is what you're searching for?

[2019-08-09 07:29] f-f commented on #346
Update: I tried to apply the last fix I mentioned above, from [here](https://github.com/commercialhaskell/stack/blob/896869ee79d82e3bd9bead30d610ac2bf580cd99/src/Stack/FileWatch.hs#L114), and it didn't help :(
So I'll give up on this, unless someone here has some idea on how to make progress

[2019-08-09 07:36] klntsky opened #364 "Task runner capabilities"
Often in our build scenarios we have multiple spago commands running against the same set of files.

E.g. something like:

[code]

I think that by allowing spago to inspect the scenario beforehand, it is possible to achieve a speedup. Config re-reading, re-validation of packages and some calls to `purs` could be skipped, if only spago were smart enough to determine which steps are no-op.

The inte

[2019-08-09 07:43] klntsky commented on #346
I think I can give it a try.

[2019-08-09 09:26] Profpatsch opened #365 "Check out git repos of dependencies again"
A few versions ago, spago cloned the complete git repositories of dependencies.

This was very (very) nice, because “jump to definition” made you land in ”first class” code, with the ability to directly look at history, `git blame` (in the editor), commit changes etc.

If anything, I’d love more support for these kinds of workflows, e.g. where it becomes trivial to create an upstream pull request

[2019-08-09 10:16] f-f commented on #365
@Profpatsch this switch happened with the introduction of global cache, where we started fetching tarballs from github if possible. We could have git repos in the global cache, but that would be super slow.

You can totally opt-out of the global cache if you wish so, by passing `--global-cache=skip`

Would that work for you?

[2019-08-09 10:20] f-f commented on #364
I'm not too keen on this, as I see that kind of interface quite complex (like, see #353 for an idea of which corner cases these kind of interfaces entail)

As far as I know config reading and purs calls take very little time, so if you're encountering any performance issues I'd say we should try to address these underlying problems instead of trying to optimize some specific case

[2019-08-09 16:20] Profpatsch commented on #365
Is the cache global for my project or global for my user?

[2019-08-09 16:42] klntsky commented on #364
OK, the proposed interface is only one of the possibilities.

With a decent hardware, maybe. I'm currently having this for a no-op build (after a warm-up):

[code]

[2019-08-09 16:45] cscalfani commented on #363
Yes. Thanks for writing this here for anyone else who wants to do this.

[2019-08-09 16:45] #363 closed

[2019-08-09 17:37] f-f commented on #363
You're welcome 🙂

[2019-08-09 17:42] f-f commented on #365
What we call "global cache" in Spago is "per user", while the project cache is called "local cache"

If you disable the global cache then Spago won't have any references to GitHub repos to download tarballs from, so it will `git clone` them in your local cache

[Here's](https://github.com/spacchetti/spago/blob/master/README.md#how-does-the-global-cache-work) an explanation of how the global cache

[2019-08-09 20:21] f-f commented on #364
@klntsky oh wow, a no-op shouldn't take this long 🤔

Could you try using [tdiff](https://github.com/chrisdone/tdiff) on `spago -v build` and posting the results here?

[2019-08-09 20:56] klntsky commented on #364
[code]

[2019-08-10 06:29] f-f commented on #364
Right so the step taking the majority of the time is the call to `purs`.
We might want to report an issue to the compiler to see if we can improve further the no-op times (but I'd say this is very much a priority, and e.g. the recent rewrite of the parser was also aiming to reduce no-op times)

But in any case we have the `--no-install` and `--no-build` flags that you can pass to all the commands

[2019-08-10 07:06] klntsky commented on #364
Yep. My point was that they could be used automatically when possible.

Are you against introducing that kind of "cleverness" to spago?

Also, I just realized that it may be possible to detect two or more sequential no-op builds by storing timestamped build history or some info about the last build somewhere. On successful detection of a no-op build, a warning could be spawned, suggesting to use t

[2019-08-10 13:15] klntsky commented on #346
I see no way other than re-implementing debouncing.

[2019-08-10 13:47] f-f commented on #364
How would we detect changes and decide to perform a build instead of skipping it? The most straightforward option would be to hash the source files and check if the hash is the same (if it changed you need to rebuild).
I'd not be against introducing this cleverness here, but it'd be more proper if the compiler itself would have this logic and skip unnecessary build.
In fact, there's an ongoing eff

[2019-08-10 13:58] klntsky commented on #364
I was thinking that it could be done by checking the time of the end of the last spago call, i.e. "how long ago did the last build end?". So that if there are many sequential runs, only the first would result in calling `purs`. And the consequent would assume no rebuild needed.

[2019-08-10 14:05] klntsky commented on #364
And to protect this scheme from source file modifications during the build itself, it is possible to watch the files while `purs` does its work.

[2019-08-10 20:06] f-f opened #367 "Install packages that have `purescript-` prefix"
Right now if you try to install a package with the `purescript-` prefix, you get an error message:
[code]

Instead of erroring out, we should instead just drop the `purescript-` prefix and install the right package

[2019-08-10 20:10] f-f commented on #364
I have the feeling this would just be a big workaround for `purs` not having a smarter build system, and we'd be better off putting effort in fixing that first.
The danger here is that we'd introduce a bunch of heuristics that would work fine most of the time, but then break someone's build because spago is trying to be too smart

[2019-08-10 21:31] joneshf commented on #367
Is this only a change to the `install` command? Will packages explicitly set as having the `purescript-` prefix in a package set keep their prefix?

[2019-08-10 21:43] googleson78 commented on #367
I'm for setting them **without** the prefix and issuing a warning about this.

[2019-08-10 21:58] joneshf opened #368 "Improve AppVeyor caching"
Have you seen the [improvements to AppVeyor caching][dhall-haskell] that `dhall-haskell` recently did? Might drop times in a similar way. Looks like the main thing is to [quote the entire line when environment variables are used][quote].

I'm more than happy to put a PR together if you'd like.

[dhall-haskell]:  https://github.com/dhall-lang/dhall-haskell/pull/1207
[quote]: https://www.appveyor.co

[2019-08-11 09:03] f-f commented on #368
Yep, I'm including them in #362 together with some other amount of small fixes 🙂

[2019-08-11 13:21] joneshf commented on #368
Cool!

[2019-08-11 13:21] #368 closed

[2019-08-11 16:22] f-f commented on #367
@joneshf this is a change affecting all the code searching for dependencies, since we'll have to change the [`getTransitiveDependencies`](https://github.com/spacchetti/spago/blob/77fec6dcb765a4bc93220b308b20930176dd04a7/src/Spago/Packages.hs#L120) function.

In there we try to match on the name provided by the user and only in case of not found we try to drop the prefix and error out. So yeah, pac

[2019-08-11 17:02] joneshf commented on #367
Gotcha, thanks for the explanation!

[2019-08-11 17:14] f-f commented on #367
You're welcome 🙂

[2019-08-12 05:50] f-f opened #370 "Add `--tag` flag to `spago upgrade-set`"
Right now doing `spago init` tries to upgrade to the latest release of the set, so in order to have a replicable setup one needs to know the right version of `package-sets` and set that by hand in the `packages.dhall`

This is uncomfortable to do from a CLI-only perspective, so we should have some way to set the right package-sets version from CLI, and I propose something like
[code]

This would j

[2019-08-12 06:36] thomashoneyman commented on #370
Yes! That would be useful. It would be nice if `spago init --tag psc-0.13.2-20190725` were also a command, as I could then just suggest:

[code]

[2019-08-12 09:58] f-f commented on #370
@thomashoneyman

Right, great idea

It would be straightforward to call the github API and ask if that's actually a release tag, but the issue is that GitHub has a limit of 50 requests per IP per hour on unauthenticated requests, so it might unexpectedly fail for some users in crowded networks, so that's why I'm a bit wary of doing this

[2019-08-12 10:23] klntsky commented on #346
#371

[2019-08-12 16:50] thomashoneyman commented on #370
I see. In that case, still fully in support of this!

[2019-08-12 17:29] menelaos commented on #370
Just a heads up that older `packages.dhall` files are currently not available via `https://github.com/purescript/package-sets/releases/download/{tag}/packages.dhall`.

See e.g.:
[code]

[2019-08-13 09:56] elliotdavies opened #372 "Check whether additions are already in the package-set"
This could be part of `spago upgrade-set`, or definitely looks related to the future `spago upstream` as outlined in #72, but -- it would be nice if there was an easy way to check whether an addition in `packages.dhall` is already in the package-set. At the moment it's quite easy to leave them in there unnecessarily, or even accidentally restrict yourself to an old package version (e.g. if you had

[2019-08-13 10:18] f-f commented on #372
@elliotdavies this is handled by Dhall, which has different operators for record merging.

Currently we're using the "non-recursive right-biased record merge" operator `//` to merge `additions` and `overrides` and so on.
This means that the record on the right always overrides the one on the left, example:
[code]

However if you want to prevent overriding already defined record fields you could us

[2019-08-13 10:31] f-f opened #373 "Some tags cannot be installed"
It turns out our way of fetching git repos doesn't work with all tags. This is because we use `git init && git remote add origin .. && git fetch origin`, and for some reason that doesn't fetch all tags.

It's possible to replicate with the following addition:
[code]

The `v1.0.1` tag exists but it's not fetched by `git fetch`. To fix this we should just use `git clone`

[2019-08-13 10:38] elliotdavies commented on #372
@f-f Oh that's neat! I didn't know about that. It's a shame it doesn't report _which_ field collided (unless you turn on `--explain`, in which case it's very verbose) but yeah, no need to do anything in Spago I don't think. I shall close this :smile:

[2019-08-13 10:38] #372 closed

[2019-08-13 10:54] f-f commented on #372
You're welcome 🙂

[2019-08-13 13:03] #373 closed

[2019-08-13 13:03] joneshf commented on #373
If you pass the [`--tags` flag](https://stackoverflow.com/a/20608181/1549047), would that solve the issue?

[2019-08-13 13:28] joneshf commented on #373
Oh, nevermind. I see it was already addressed.

[2019-08-13 13:38] googleson78 opened #375 "Command/dhall to add a package from pursuit?"
Sorry if this is something resolved/not the right place to ask!

It's very common in Stack-land to have to use a package from Hackage instead of Stackage - and you can easily do that by just specifying a package name and version in your `stack.yaml`. However with `spago` I could only find the [`mkPackage`](https://raw.githubusercontent.com/purescript/package-sets/psc-0.13.2-20190725/src/mkPackage.

[2019-08-13 13:39] f-f commented on #365
@Profpatsch did this work for your usecase?

[2019-08-13 13:40] f-f commented on #375
@googleson78 I believe this might be a duplicate of #24?

[2019-08-13 13:41] f-f commented on #355
@andyarvanitis thanks, looking forward to it! I'll rename this issue to track support for alternate backends then 🙂

[2019-08-13 13:44] googleson78 commented on #375
Thanks!

I don't really understand how Pursuit interacts with `bower` (as in does it hard depend on it) too well, so if you think it is you're probably right. (and also feel free to close, sorry!)

[2019-08-13 13:58] f-f commented on #375
In short: Bower is the closest thing we have to a "registry", keeping track of versions of packages. Pursuit is only a place where documentation is uploaded following the tags in Bower, but doesn't contain any actual packages

So if there's a place where we should add packages from that would be Bower (as detailed in that issue)

I'll close, but let's reopen if you feel like what you're searching

[2019-08-13 13:58] #375 closed

[2019-08-13 14:32] Profpatsch commented on #365
Yes, thank you!

[2019-08-13 14:32] #365 closed

[2019-08-13 14:45] f-f commented on #365
You're welcome 🙂

[2019-08-13 15:03] shubhamkumar13 commented on #24
Sorry for not checking in; so I got a high-level view of how all commands work. So to be clear this command would look through all the packages in dependencies and add it to packages.dhall, right?

It's just parsing bower.json and adding the packages to package.dhall, in layman's terminology.

[2019-08-14 04:33] andyarvanitis commented on #355
Following up on my previous comment, I think I have the golang tooling tweaking done (for now, at least). In the end, the only thing you currently need to do a go-backend build (typical case) involves one more step than what I showed in this issue earlier, namely:
[code]
If `spago` (via the project config file) can provide those `purs` flags and then execute `psgo`, the user would get a native bui

[2019-08-14 10:29] f-f commented on #355
Sounds great! A possible UX for all of this could be:
- adding an optional `backend` key to the `spago.dhall`, e.g. `backend = "go"`
- if that's set, `spago build` would call `spago build -- -g corefn && psgo`
- since `psgo` supports `--run` then we could make it so that `spago run` calls `spago build -- -g corefn && psgo --run`
- I don't have UX ideas for using the `--no-build` flag. We have such

[2019-08-14 10:58] f-f commented on #355
And cc @nwolverson: would this be interesting for the Erlang backend?

[2019-08-15 03:26] andyarvanitis commented on #355
These all sound great to me.

Definitely. My mention of it was mainly for information; skipping for now sounds good.

If spago is not responsible for installing `purs`, I'd say no for `psgo` too (which it seems is the case?). As for ensuring versions, maybe so. I'm happy to do what's needed to support it. For now, I think it would be fine not to check/ensure versions, especially if spago support f

[2019-08-15 12:49] joneshf opened #377 "Compiling packages in a monorepo"
# Concern

Compiling everything in a monorepo is too slow for large monorepos. Compiling individual packages requires recompilation work.

# Context

Let's say I've got a monorepo setup similar to [what's in the README][README monorepo]:

[code]

As the project grows, compiling everything from the top becomes slower and slower. If I wanted to iterate quickly within the `lib1` package, I can move t

[2019-08-16 05:52] f-f opened #378 "Cache latest package set tag in global cache to avoid hitting GitHub"
CI still fails on Travis and I realized it might be because we're hitting GitHub at every `spago init` (to ask for the latest package set), and we're doing that 30+ times in tests.

So we should either:
- cache in the global cache what's the latest `package-sets` tag, or
- try to read some envvar like `SPAGO_PACKAGE_SET` and skip the GitHub hit if that's set, or
- just implement #370

[2019-08-16 05:58] f-f commented on #377
Thanks for the detailed report! This makes sense. The first thing that pops into mind is that Spago could detect where a shared `packages.dhall` is, because you'd have only one in a monorepo (we have to implement this detection anyways to fix #349), and point `--output` to that folder automatically, so you'd exploit a single `output` folder for the whole project. Makes sense?

[2019-08-16 10:59] f-f commented on #346
The reason why this didn't happen with Stack but it happened with Spago just dawned on me: Stack watches single files, but we match file modification events against globs instead

[2019-08-16 11:08] f-f opened #379 "Serve generated docs"
When doing `spago docs` one has to start a webserver in order to get the nice searchbar, and that adds friction.

Instead we should serve the docs with [wai-app-static](https://www.stackage.org/package/wai-app-static)

[2019-08-16 11:17] klntsky commented on #346
So what exactly causes doubled event triggering?

[2019-08-16 11:20] klntsky commented on #379
Why would we need to start a webserver?

It works with `file://` for me.

[2019-08-16 11:28] f-f commented on #379
Then we should at least display a link to it in `spago docs` (though I'm not sure how it would work on Windows, where the webserver thing will work for sure)

[2019-08-16 11:29] f-f commented on #346
@klntsky I did not verify this but I suspect that if you watch the single file you might get less events

[2019-08-16 12:06] joneshf commented on #377
Yeah. That seems like it could work, as well.

[2019-08-16 12:15] #353 closed

[2019-08-16 12:47] klntsky commented on #379
You mean, something like this:

[code]

?

Then we could also add `--open` flag to either `spago docs` or `docs-search build-index`, to open that link in the browser.

[2019-08-16 12:49] klntsky commented on #379
Using one of these:

https://hackage.haskell.org/package/open-browser

https://www.npmjs.com/package/open

[2019-08-17 16:13] klntsky commented on #364
OK, let's close this then.

[2019-08-17 16:13] #364 closed

[2019-08-17 22:28] Vikasg7 opened #380 "spago not working on windows"
`spago init` worked fine but `spago build` and `spago install psci-support` are giving the following error:
`spago.exe: Directory "\\" is not accessible. Permissions {readable = True, writable = False, executable = False, searchable = True}`
I also tried to run cmd.exe as System Administrator but didn't help.

purescirpt version: 0.13.2
spago version : 0.9.0.0
windows 8

[2019-08-18 21:18] f-f commented on #380
@Vikasg7 thanks for reporting! We'd need some more info in order to debug this.
Could you paste here the full output from `spago -v install`?

Also cc @stkb and @btrepp as you might have more ideas/context than me on this

[2019-08-18 21:49] Vikasg7 commented on #380
Here it is
[code]

cc @stkb, @btrepp

[2019-08-18 21:57] f-f commented on #380
@Vikasg7 thanks! Some more info:
- what do you get if you run `spago -v install --global-cache=skip`?
- do you have any of the following environment variables set, and if yes what's their value?
  - `HOME`
  - `XDG_CACHE_HOME`
  - `HomePath`

[2019-08-18 22:04] Vikasg7 commented on #380
Output is same.

None of the above variables are set. Just a reminder, I am using Windows 8.

[2019-08-18 22:16] f-f commented on #380
As far as I know `HomePath` should be set in Windows (but I'm not a Windows user, so I think the fact that you're using Windows 8 vs other versions might be relevant but I don't know how)

Anyways from your output it seems Spago stumbles on getting a place for the global cache, and the logic for that will try to get locations from `XDG_CACHE_HOME`, `HOME` and `HomePath` (in this order) and fallbac

[2019-08-18 22:21] Vikasg7 commented on #380
@f-f
Which path should I set as value to any of those three variables?
I just checked again, I don't see any of the above path set in my Environment Variables.

[2019-08-18 22:24] f-f commented on #380
@Vikasg7 my point above was that it should not be necessary to set any of them, because if they are not set then Spago will just use a project local folder

However, instead of using `.spago-global-cache` as it should, it tries to use `\\`, which is the weird part

[2019-08-18 22:38] Vikasg7 commented on #380
@f-f  Yeah, looks like `\\` is not resolving on windows. I set the HOME variable to a local folder and `spago install` worked fine. Thanks for your help.

[2019-08-19 06:41] f-f commented on #380
@Vikasg7 you're welcome, happy to hear you solved it 🙂

Though I still wonder how this could happen in the first place 🤔

[2019-08-19 08:28] #378 closed

[2019-08-19 10:39] elliotdavies opened #383 "`spago test` errors when there are no tests"
Running `spago test` on a project where there isn't a `test` directory results in this error:

[code]

I think this should probably either succeed (because in effect 0/0 tests passed) or fail in a nicer manner.

[2019-08-19 17:44] Vikasg7 commented on #380
@f-f
I dig into this and found out `</>` operator used in https://github.com/spacchetti/spago/blob/2efcc8fb84d5dc99cdd6b8c73c68306ce58397b3/src/Spago/GlobalCache.hs#L166 resolves to `\\` for windows. [Link](http://hackage.haskell.org/package/filepath-1.4.2.1/docs/System-FilePath-Posix.html#v:-60--47--62-) to Haskell documentation. So it makes the path looks like this `.spago-global-cache\\spago`.

[2019-08-20 06:29] f-f commented on #380
@Vikasg7 thanks for looking into this!

Indeed the folder is not there because the error you got at first was about Spago not being able to create it. The error you get comes from here:
https://github.com/spacchetti/spago/blob/64998a7944a87cba0bfec472aaf0fec411c0e6d1/src/Spago/FetchPackage.hs#L49-L51

The part that creates the directory is the `assertDirectory`, but in your case it fails, in this

[2019-08-20 21:17] Vikasg7 commented on #380
@f-f
So, I install haskell and stack on my pc, git cloned the repo, did the changes and tried `stack build --fast` but got some error. Is this is how I should go about it? or you have some better way to try out the changes? Here is the error though.
[code]

[2019-08-21 12:17] #329 closed

[2019-08-21 12:27] stkb commented on #380
This happens because the `HomePath` variable checked for does not contain a drive letter; ie it is just `\Users\{username}`. So the you're asking Windows to create a folder `\Users\{username}\.cache`. I'll submit a PR to fix this shortly (I've had it on the shelf for a while)

[2019-08-21 12:27] f-f commented on #380
@Vikasg7 this is a known problem of the set of packages we're using, see [here](https://github.com/commercialhaskell/stackage/issues/3385) for more details on it

We had to work around it on our Windows CI too, in this way:
https://github.com/spacchetti/spago/blob/13cf90cddb1e3e2b7338169d98799b6bc6a54ffe/appveyor.yml#L11-L14

[2019-08-21 12:39] f-f commented on #383
This is definitely good, but how would we detect this?

The implementation for `spago test` is just calling the `Test.Main` module with node, so to detect there's no such module we should somehow find out about all the modules in the included sources?
A low-tech approach would be full-text search on all the files searching for the string `module Test.Main`, but at that point we might as well just

[2019-08-24 08:47] paul-rouse opened #385 "Copy to global cache fails when on different filesystem"
I'll send a PR with a fix for this, but I'm writing up the problem separately in case you don't like my proposed solution!

When the global cache directory is on a different filesystem than the local `.spago` directory, spago fails to copy the downloaded tree to it.  For the record, the messages are copied below.  The problem is the use of `mv`, which the [Turtle.Prelude docs](https://www.stackage

[2019-08-24 21:53] Vikasg7 commented on #380
@sktb, @f-f
I did `spago run -w` and got this
[code]
As you can see its prepending an absulute path to my Desktop to a relative path to the target folder. Is this issue also getting fixed with above patch?
If yes, how can I install the latest git binaries globally, I tried it through github via npm but it says package.json doesn't exist.
 `spago run` works fine though.

[2019-08-24 23:12] f-f commented on #380
@Vikasg7 the npm install works only on tags, so the fix will ship with the next release (which we could cut in the next days)

[2019-08-24 23:13] #385 closed

[2019-08-25 18:52] Vikasg7 commented on #380
@f-f
Can you confirm `spago run -w` work with the latest commit? I think this issue is also related to paths.

[2019-08-25 18:55] f-f commented on #380
@Vikasg7 yes, you can take a look at the test results in the Windows CI run for the latest commit on master [here](https://ci.appveyor.com/project/f-f/spago/builds/26936884): there are two tests for `spago run` (line 267) and they both pass

[2019-08-26 05:10] stkb commented on #380
@Vikasg7 @f-f  I can repro the same issue.

While `spago run` works fine, adding the `-w` for the watch function has some (other) issue with paths. (I never use the watch function, so I never came across this before)

This shouldn't be too difficult to fix though I guess.

[2019-08-26 16:21] stkb commented on #380
@Vikasg7 Thanks for finding that issue (it was something completely separate). Watching on Windows should now be fixed in (#387).

[2019-08-26 16:21] #380 closed

[2019-08-26 18:04] stkb opened #389 "Watch: "quit" command doesn't do anything"
At first I thought this was another Windows problem that the watch wasn't quitting, but then [from reading the code](https://github.com/spacchetti/spago/blob/ac94f5c21c2d9ac15849de4f6bc311df9eebd69e/src/Spago/Watch.hs#L134-L160) it seems that nothing is actually done when a "quit" command is read and it just loops and waits for the next command?

[2019-08-26 18:29] f-f commented on #389
@stkb oops, yeah you're right 😄

[2019-08-27 10:29] #389 closed

[2019-08-28 09:57] elliotdavies opened #393 "Run package-set commands without `spago.dhall` present"
Some commands such as `verify-set` and `list-packages` don't work if a `spago.dhall` file is missing from the current directory. This can feel weird in a monorepo setup where (for example) there's a root `packages.dhall` and multiple `spago.dhall`s in sub-directories, because it means the commands must be run from a sub-directory away from the actual package-set definition. This is also the opposi

[2019-08-29 08:09] f-f commented on #393
@elliotdavies good point, and yes this kind of relates to #349, but in a funny way: if we have commands search for the `packages.dhall` then they would fail in folders where there isn't one
So we'd need the resolution from #349, or some kind of fallback like "search for the `packages.dhall` first, if not found just read the `spago.dhall` and get the `PackageSet` from there"

There is no particular

[2019-08-29 10:15] f-f opened #394 "Install for `halogen-formless` fails"
Reproduction:
[code]

This gives the error:
[code]

@thomashoneyman any ideas?

[2019-08-29 13:42] helinko commented on #346
Nice to see this fixed! Could we get it released soon?

[2019-08-29 14:06] f-f commented on #346
@helinko yup, I'm going to cut a release in the next days!

[2019-08-29 15:07] wryk commented on #394
link https://github.com/thomashoneyman/purescript-halogen-realworld/issues/43

[2019-08-29 15:14] f-f commented on #394
Oh I tried searching only in the `halogen-formless` repo so I missed that issue. Thanks a lot @wryk!

[2019-08-29 16:31] thomashoneyman commented on #394
@f-f Formless has a symlink in its `dist` directory, like this:

[code]

I can't remember why 😬 but I must have had some reason, because the CI build replaces the symlink with the actual file as part of building the documentation site:

https://github.com/thomashoneyman/purescript-halogen-formless/blob/d7151f89d870b0e5647ac3ce76ec13d184e047b5/.circleci/config.yml#L51

I can remove that symlink now

[2019-08-29 16:54] thomashoneyman commented on #394
This is fixed by https://github.com/thomashoneyman/purescript-halogen-formless/pull/55. I know it's bad practice to adjust an existing tag, but given the trivial nature of the change (removing a symlink no one in practice would see using the library) and the consequence of breaking installations I thought it was the better option.

[2019-08-29 19:44] f-f commented on #394
@thomashoneyman thanks a lot, this works now so I'll close the issue! 🙂

This is a great question, and I'll start by explaining why this failed locally: Spago will try to download tar archives from GitHub if possible (i.e. if the package you're installing is from GitHub and in package-sets) and `git clone` the repo (which is much slower) otherwise.
Full logic is here:

https://github.com/spacchett

[2019-08-29 19:44] #394 closed

[2019-08-29 21:16] f-f commented on #204
@bbarker fix up in #396

[2019-08-29 23:31] bbarker commented on #204
@f-f great, I saw that recently!

[2019-08-31 18:52] kamoii opened #397 "Installing aff package fails"
Installed spago today. Installing `aff` package fails. Probably because `aff` package has moved to /purescript-contrib/ from /slamdata/, and the download code not handling 302 properly. Need to clear or ignore global cache to reproduce.

spago.dhall:
[code]
spago build result:
[code]

[2019-08-31 18:58] kamoii commented on #397
Strangely, executing `spago build` one more time, now succees.
[code]

[2019-08-31 19:32] f-f commented on #397
@kamoii yeah this is a temporary DNS issue, last part of the error message you get says:
[code]

[2019-09-01 07:43] kamoii commented on #397
@f-f My bad. Overlooked that part of the error message. Looks like something is wrong with my DNS.
Anyway, thanks for you reply!

[2019-09-01 07:43] #397 closed

[2019-09-01 08:12] f-f commented on #397
No worries, you're welcome! 🙂

[2019-09-03 21:37] fsoikin opened #401 ""bundle-module --watch" on Windows fails with a mingled path"
## Repro:

[code]

## Notes
* Note how Spago tries to open a file with part of the path repeated - `C:\o\spago-bug\o\spago-bug\...`. Such file, naturally, does not exist, so the call fails.
* Touching `src/Main.purs` does not have any effect.
* This doesn't happen without the `--watch` flag. Bundling alone works fine.
* This does _not_ reproduce on Linux (Ubuntu Xenial).
* Have not tried on macOS.

[2019-09-03 22:32] f-f commented on #401
It looks like this might be the same issue described in https://github.com/spacchetti/spago/issues/380#issuecomment-524583489 which was fixed in #387 which is on `master` but not released yet

I'll cut a release in the next days (see #398) but in the meanwhile you could try out building the current master to see if it fixes the issue for you

[2019-09-03 22:33] fsoikin commented on #401
Definitely looks like the same issue from description.
Will try to build master.

[2019-09-03 22:50] fsoikin commented on #401
Yes! `master` works fine! (plus, the `quit` command works now)
Thank you @f-f !

[2019-09-03 22:50] #401 closed

[2019-09-03 23:03] f-f commented on #401
You're welcome 🙂

[2019-09-04 03:09] gasi commented on #401
Grazie mille, @f-f! 🙇

[2019-09-04 18:13] elliotdavies commented on #349
@f-f My preference is to follow the imports ourselves, because `input` seems like quite a core thing to reimplement.

If we are OK to enforce that the file containing the package-set remote import is always called `packages.dhall` then I think this fix is actually fairly simple, because we'll know which file in the tree needs its imports checked. (We'll have to guard against finding multiple files

[2019-09-05 09:59] f-f commented on #349
@elliotdavies I mentioned "following the imports" but I mean it as a last possibility if nothing else works. This is because Dhall is already doing it, so we'd have to duplicate code and duplicate work.
On the other hand the code for `input` (which is not a "core" thing but just there for convenience of not having to `parse`/`import`/`typecheck`/etc by yourself) is already duplicated in slight var

[2019-09-05 14:39] elliotdavies commented on #349
@f-f Huh... fair enough! I'm not that familiar with the Dhall codebase and `input` seemed more important than it was 😁 If people often reimplement variants of it then yes, I agree we should try that. I'll give it a go based on what you've suggested here.

[2019-09-06 21:03] xgrommx opened #404 "Ability to install package from github or smth similar"
Hello! In bower I have some ability like installing package from github. For example
`bower i user/packagename#hash`
Will be nice to have this approach in `spago`

[2019-09-07 22:01] f-f commented on #355
@csicar congrats on the Kotlin backend! 🙂

Cc'ing you to ask if you'd have any inputs about this thread, i.e. would the current description of "integration" work for `pskt` too?

[2019-09-08 10:02] csicar commented on #355
First of all, I think adding support for alternative backends is a great idea.

I think just using the name of the executable there might even be easier: eg. for the go backend you would write `psgo`.
Spago could expect the commandline interface to be standardized: calling the executable without arguments compiles; calling with `--run` runs the program.
For spago that would mean, that no special s

[2019-09-10 13:14] elliotdavies commented on #404
@xgrommx Do you mean that you'd like to install a package from Github that isn't available in the package set already? If so you can add the package to your `packages.dhall` as described [here](https://github.com/spacchetti/spago#add-a-package-to-the-package-set) - does that do what you want?

[2019-09-10 13:38] elliotdavies opened #406 "`-watch` commands error when source directories are missing"
Say `spago.dhall` includes a `sources` configuration like the following, which is the default:

[code]

but you delete the `test` directory. Running `spago build` (for example) will log this warning but otherwise proceed to compilation:

[code]

However `spago build -w` will throw this error and go no further (the file watching still works but it never gets round to compiling):

[code]

I'd guess

[2019-09-10 16:46] stkb commented on #205
(@rnons sorry now that you've done the work but) would it not be simpler just to watch all files in the given source directories? I can't think that there would be too many changes there anyway.

It would simplify the code and also future-proof it for other backends.

[2019-09-10 19:00] xgrommx commented on #404
@elliotdavies I mean that when I have my purescript code on github and I want to install it without publishing to `spago` packages.

[2019-09-10 19:11] JordanMartinez commented on #404
Adding your package to your local projects `packages.dhall` file doesn't
require you to add it to the package set that spago uses.

[2019-09-10 21:21] xgrommx commented on #404
@JordanMartinez okay what if I want add several packages?

[2019-09-10 21:45] JordanMartinez commented on #404
You just do it multiple times ([example](https://github.com/JordanMartinez/purescript-jordans-reference/blob/latestRelease/22-Projects/packages.dhall#L124-L171))

[2019-09-10 21:46] JordanMartinez commented on #404
Or, if you want to override something... [example](https://github.com/JordanMartinez/learn-halogen/blob/latestRelease/packages.dhall#L117-L122)

[2019-09-10 22:25] rnons commented on #205
I'm not sure if we want to watch `src/**/*`, there can be many files in `src` not related to purescript. Even if we watch `src/**/*`, we still need to pass different globs to build and watch. Passing `src/**/*.js` to purs will throw parse errors.

In my PR, I applied `Text.replace ".purs" ".js"` to each entry in the `sources` config, which is a hack. What I really want is a new config called `watc

[2019-09-12 20:41] alextes opened #408 "Small package.dhall docs improvement"
In the template, specifically [this line](https://github.com/spacchetti/spago/blob/master/templates/packages.dhall#L67), the example shows `"package-name"` by which it appears to mean a package name but _without_ the `"`. In other words, the package name should be a label, not a string, as the example shows. This is confusing however, as the documentation naturally also uses `"` to indicate you sh

[2019-09-15 07:51] csicar commented on #355
btw: pskt now has the same cli interface as psgo, so no additional arguments need to be provided to compile
[code]

[2019-09-15 14:50] f-f commented on #408
@alextes thanks 🙂 And indeed you're right, they should be labels!

[2019-09-15 14:59] f-f commented on #406
@elliotdavies yep, it looks like you're on the right track! In fact, the compiler uses the same `Glob` library that we use, and it checks that the glob is not empty before including it - see [here](https://github.com/purescript/purescript/blob/4949b0428522b001c99c14d4d755aa6b9d237355/app/Command/Compile.hs#L78) - so we should also try to avoid watching a folder that doesn't exist

[2019-09-16 03:35] felixSchl opened #409 "Cache transitive dependencies"
The call to [`getTransitiveDeps`](https://github.com/spacchetti/spago/blob/add6ec7ac9429d251c80f518052ebdcc9ca69759/src/Spago/Packages.hs#L118) can get quite slow for larger projects, even on a decent machine.

I found at least one relevant reference to this here: https://github.com/spacchetti/spago/issues/110#issuecomment-463518492.

I am wondering if we could not simply cache the transitive deps

[2019-09-16 03:45] felixSchl opened #410 "Feature request: Add support for --before/--then/--else flags"
Pulp has a handful of very useful options to run a command when compilation starts, fails, and succeeds: `--before <string>`, `--else <string>`, and `--then <string>`, respectively. This is useful in combination with `--watch` in order to, for example, run some post-processing script on the output. Currently the only way to achieve the same is using an external file watcher and run `spago build &&

[2019-09-16 09:17] f-f commented on #409
@felixSchl yeah, great points! I think it would be ok to cache things based on the hash of Dhall files, but it might not be necessary if we had a faster implementation. I think the current implementation is fairly naive and there might be lots of space for improvement, as noted in the comment you linked

[2019-09-16 10:04] justinwoo commented on #409
my other question for this is would this work with a function written in dhall?

[2019-09-16 10:26] f-f commented on #409
@justinwoo as I understood it they did not mean to write the function in Dhall, but to use the hash of `spago.dhall` or `packages.dhall` to identify the right cache to use for caching the list of transitive dependencies for every package

[2019-09-16 13:46] f-f commented on #404
@xgrommx did the above suggestions work for you?

As a sidenote, I wondered many times if it would make sense to add a command line helper to add/override packages, something like `spago install https://github.com/slamdata/purescript-aff.git#master`?

[2019-09-16 20:31] #349 closed

[2019-09-18 14:29] f-f commented on #410
Yeah this sounds reasonable! Though I'd be curious about your specific usecase, to see if we can provide some specific integration before opening up to the full `before`/`then`/`else` workflow

[2019-09-18 17:59] f-f commented on #355
@csicar thanks for the inputs, it all sounds great!

I have only one question:

How would this work? Also why not just push the various `.go` and `.cpp` and `.kt` files to the core libraries so there wouldn't be the need for sideloading but we could just use the "official" versions?

Though I think the above is a detail, so I'd say at this point we have a pretty clear plan. Since I'm going to be s

[2019-09-18 19:31] felixSchl commented on #410
It's a very project specific workflow where we need to run a script over the generated JS to fix up some internal require paths based on the build output. To be honest I have not used `--before` at all and only discovered it when doing my research for opening this issue, but it seems to make sense to have if we do end up with some sort of `--then` and `--else`.

It's not a super urgent feature req

[2019-09-19 03:30] andyarvanitis commented on #355
It's been a bit of a hard sell to get non-js foreign code into the official core libraries. I can understand some of their reluctance, though, especially with more backends coming onto the scene. The approach I started taking with the second generation C++ backend and then continued with the Go backend works around this. But I wouldn't say it's a perfect solution, and some versioning provisions ar

[2019-09-19 11:20] csicar commented on #355
Having the foreign files in the original repos is of course preferable. In early development of the Backend and for alpha quality backends it is probably not desirable to upstream the foreign files to the official packages.

Yes, absolutely. I don't want that to get in the way of progress.

I'm looking forward to having `--watch` available by default :)

Another question about the cli: I would als

[2019-09-19 19:32] csicar commented on #355
I haven't tried upstreaming foreign code yet, but thst seems to confirm my suspicion.

My idea with side loading foreign files would be to clone a foreign package set with the same tag as the primary package set that is being used.
Say for example the `1.13` tag is used for the package set, then spago would also clone a foreign package set at tag `1.13` to some location in the current project - sa

[2019-09-20 05:01] andyarvanitis commented on #355
Yes, I was thinking of something along those lines, but for the go backend, I'd probably need it to go through `psgo` itself, due to the way the `go` tools work. So something like a switch on `psgo` specifying the tag, and then it would take care of fetching the files. An example would be
`psgo --ffi-tag 1.13`. Do you think maybe `pskt` could also do the fetching in a similar way? It wouldn't be g

[2019-09-20 08:40] #409 closed

[2019-09-20 17:19] f-f commented on #377
Update: since #402 we do some kind of detection of where the `packages.dhall` is, so fixing this could be done with already existing facilities

[2019-09-20 20:15] DStranger commented on #379
Hi guys! I'd like to give this one a try.

[2019-09-21 04:37] thought2 opened #415 "Feature request: Decline build if modules from indirect dependencies are imported"
Currently one can use all the modules that are indirect dependencies of the direct dependencies. It would be a bit nicer, if we could just use the modules that are explicitly declared.

[2019-09-21 06:38] thought2 opened #416 "Feature request: `spago init` should create a skeleton that separates `src` and `tests`"
Currently `spago` init creates this structure:
[code]
and `cat spago.dhall`:
[code]

I'd suggest that in any way there should be two `spago.dhall` files generated: One for the tests and the other one for the actual project

[2019-09-21 06:41] thought2 opened #417 "Feature request: Add a flag to `spago init` that excludes comments `package.dhall` and `spago.dhall`"
The comments generated in `package.dhall` and `spago.dhall` are very useful for beginners.
A seasoned user may get annoyed by them.

I'd suggest to add a `--no-comments` flag to `spago init`

[2019-09-21 09:11] f-f commented on #416
@thought2 what would be the use case for this?

[2019-09-21 10:39] f-f commented on #415
Yes, this would be a nice to have! A way we could do it would be to:
- generate a mapping from "module" and "package" as described in https://github.com/spacchetti/spago/issues/165 (note: we wouldn't need to download all the packages in the set, but only all the transitive dependencies of the project, which we already do)
- expand the project globs
- parse the beginning of these with [a small pars

[2019-09-21 13:05] #205 closed

[2019-09-21 13:20] thought2 commented on #416
Isn't it the most common case that you'd like to have your test dependencies separated from your project's dependencies?

[2019-09-21 13:58] #408 closed

[2019-09-21 14:18] f-f opened #419 "Improve Curator"
There are several improvements that should be done to the Curator.

More automation:
- [ ] automatically bump [purescript-metadata](https://github.com/spacchetti/purescript-metadata) version whenever there's a new release of the compiler
- [ ] automatically bump [purescript-docs-search](https://github.com/spacchetti/purescript-docs-search) version [here](https://github.com/spacchetti/spago/blob/d2

[2019-09-21 14:18] f-f commented on #358
This was fixed in #411

[2019-09-21 14:18] #358 closed

[2019-09-21 18:14] f-f commented on #226
@andywhite37 I was taking a look around the open issues, and I noticed your comment in https://github.com/reazen/relude/issues/91#issuecomment-519355876

Since I'd like to keep the issue tracker as "actionable" as possible, I'm going to close this issue for now. Let's reopen if/when there's bandwidth to work on this 🙂

[2019-09-21 18:14] #226 closed

[2019-09-21 20:55] #379 closed

[2019-09-21 20:57] f-f commented on #347
Fixed in #398

[2019-09-21 20:57] #347 closed

[2019-09-21 22:01] andywhite37 commented on #226
@f-f - no problem, yes, let's close this for now.  I'll re-engage if I end up having some free time to look into it again.  Thanks for your help!

[2019-09-21 22:26] f-f commented on #226
You're welcome 🙂

[2019-09-22 09:36] danieljharvey commented on #377
Hey! I'm up for giving this a pop. What what I can tell, we can now use `localImportPath` to turn a `Dhall.Import` into a nice path to pass to `purs` - but I'm a little bit lost as how we might create a `Dhall.Import` for our `packages.dhall` in the first place? Is it a case of reading the `packages` field in `spago.dhall` and letting Dhall do the resolution to find it? Any ideas?

[2019-09-22 09:52] f-f commented on #377
@danieljharvey that would be great!

Yes, we now have `readImports :: Text -> IO [Dhall.Import]` [here](https://github.com/spacchetti/spago/blob/46f0f7c3f0d3c630b5d03e9f6ef073caa847402a/src/Spago/Dhall.hs#L46), to which we can pass a path and get a list of all the local imports that happen along the way when resolving the expression.
Since Dhall returns us a graph there, the part we have to figure

[2019-09-22 09:54] csicar commented on #355
That solution would also work for pskt.

One think isn't clear to me yet: How would psgo know for which packages it should download the foreign files?
If for example the packages "function" and "effect" are installed, would you still download the foreign files for other packages in the foreign files repo?

Am 20. September 2019 07:01:36 MESZ schrieb Andy Arvanitis <notifications@github.com>:

[2019-09-22 10:13] danieljharvey commented on #377
Ace, thanks. Will there ever be more than one path to the actual Purescript package sets? Is that a reasonable measure of whether we’re at the root? Or can we end up with multiple references to them?

[2019-09-22 10:23] f-f commented on #377
@danieljharvey we can have multiple `packages.dhall` files. Let's imagine a scenario like this (which might make for a great test of this feature):
[code]

Where:
- the top-level `packages.dhall` is the one containing the actual package set (we don't care if it's a remote import or if the set is materialized in there)
- `app1/packages.dhall` contains just `../packages.dhall`

Now if we do `readImp

[2019-09-22 13:39] f-f opened #423 "RFC: move Spago to the "purescript" org"
First of all, a bit of background: when I first came to PureScript-land, I was a bit baffled by its package management story (I was coming from Haskell's `stack`, which I find having a good UX).
At first I went with `bower`, later switched to `psc-package`, then got frustrated about its limitations and started talking with @justinwoo about this. At this point he had a bunch of "alternative tools",

[2019-09-22 14:50] garyb commented on #423
No argument from me. In my head I already thought we promoted `spago` over `psc-package`, but indeed it appears not!

[2019-09-22 15:33] hdgarrood commented on #423
Yes, I’m on board. I think we’ll also need to update the purescript.org website and the getting started guide in the documentation repo.

[2019-09-22 15:42] JordanMartinez commented on #377
This would be a very nice improvement for my learning repository: purescript-reference. It currently has ~ 15 projects that all have to recompile most of the same code.

[2019-09-22 22:06] andyarvanitis commented on #355
For now, the entire `purescript-native/go-ffi` repo is pulled in (which is what I was talking about tagging). If the user wants to pull in other ffi files, they would have to add them in the go module loader/config files for their project. If they want to omit some of them (in the standard libraries) from their build, they would need to comment them out in the same files.

[2019-09-22 22:35] csicar commented on #355
Yeah, it's the same for me: `pskt-foreigns` contains all foreign files and all are compiled.  Maybe that's fine for now, but I think installing only the packages requested by the user is a better solution long-term (at least for pskt).

Btw: `--run` is now also supported by `pskt`

[2019-09-23 09:50] kritzcreek commented on #423
I'm 100% on board.

I think we should also move psc-package into purescript-deprecated. It was an experiment to see if package-sets were a viable way of going about package management, and @f-f and all the contributors here showed that it is. So psc-package really doesn't fulfill a purpose anymore.

[2019-09-23 09:52] f-f commented on #423
@kritzcreek how about just archiving the repo?

[2019-09-23 09:53] kritzcreek commented on #423
Yeah if that works that's fine as well. I just want to make it very clear that people shouldn't be picking up psc-package anymore.

[2019-09-23 13:19] hdgarrood commented on #423
Is there any disadvantage to moving it to @purescript-deprecated? That's always how we have deprecated things which previously used to live under @purescript up until now, so unless there's a specific reason to keep it under @purescript I'd prefer to move it. Note that GitHub will set up a redirect so that any existing links should still work.

[2019-09-23 14:09] joneshf commented on #423
Anything that makes #288 closer to reality gets a :+1: from me.

[2019-09-23 17:48] f-f commented on #423
Alright, it looks like there is consensus on this, so I started doing things:
- PR for adding a deprecation notice to `psc-package` itself: https://github.com/purescript/psc-package/pull/156
- PR for removing its mention in the documentation repo: https://github.com/purescript/documentation/pull/272
- PR for removing `psc-package` support in `spago`: https://github.com/spacchetti/spago/pull/425

I

[2019-09-25 00:09] csicar commented on #355
I'm working on the implementation here: https://github.com/spacchetti/spago/pull/426

[2019-09-25 13:57] justinwoo opened #427 "glibc2.27 introduced as dependency in 0.10.0"
you can choose to do nothing about this, but it might be good to do something about it.

## What

glibc2.27 is now a runtime dependency of 0.10.0, whereas the previous versions did not do anything requiring this.

## Why

good question. some infection happened somewhere.

## How

Try using `xenial`, e.g. on Travis, and install `spago` via npm.

[code]

Seems expected: https://packages.ubuntu.com/s

[2019-09-25 14:08] jhrcek commented on #417
I'll tackle this, expect PR soon.

[2019-09-25 16:45] thomashoneyman commented on #423
I'm a bit late to this discussion, but an enthusiastic 👍 from me as well

[2019-09-25 20:13] bjornkihlberg opened #429 "MoveFileEx permission denied (Access is denied.) when using `npx spago build`"
Hello,

I actually "fixed" my problem right before I sent the below description but I thought I'd report this anyway if it's either a bug or the tutorial needs adjusting or maybe someone else runs into this problem.

I tried to install [spago](https://www.npmjs.com/package/spago) and [purescript](https://www.npmjs.com/package/purescript) in a local npm project with `npm install -D spago purescript

[2019-09-25 22:42] elliotdavies opened #430 "Avoid watching dependencies in `.spago` directory"
(Split out from discussion in #420.)

When running `spago build --watch` we monitor changes to local (i.e. monorepo) dependencies, but we also watch for changes in the `.spago` directory. I'm not sure if there are any performance implications, but it's unintended behaviour and has potential to cause weird edge cases (as in #420) so we ought to stop doing it 😀

[2019-09-25 22:57] elliotdavies opened #431 "Consider `sources` behaviour in `spago.dhall`"
While implementing #420 I noticed that we get weird behaviour if `spago.dhall` lists a glob path like `src/**/*.js`, because we're assume they're all `.purs` globs.

It's also true since #407 that if you list e.g. `src/**/*.purs` we will watch `src/**/*.js` as well, so the globs in `spago.dhall` aren't a true reflection of the files we're including.

Now that we've iterated on the initial `sources

[2019-09-27 12:15] Dretch commented on #415
Perhaps there could also be a error or a warning when packages are in the dependency list but are not actually directly imported.

[2019-09-27 16:48] bjornkihlberg commented on #429
Looks like I was wrong! It was only a coincidence that it worked right after I had installed spago globally. If I try to run `spago build` multiple times eventually it will succeed. Here's some output from my console:
[code]

I verified that it builds as well after importing modules from the package. Don't know yet if the package works properly.

[2019-09-30 18:39] f-f opened #433 "Spago doesn't run on Glitch"
From [this tweet](https://twitter.com/ann_arcana/status/1177165256709328896?s=20):

![image](https://user-images.githubusercontent.com/5480361/66071415-c6b44b80-e55b-11e9-88ea-5f319024948c.png)

It should be replicable on a *nix machine with these versions of the tools:

![image](https://user-images.githubusercontent.com/5480361/66071442-d338a400-e55b-11e9-9b4b-aab306791670.png)

cc @jarcane

[2019-09-30 18:47] #406 closed

[2019-10-01 22:50] f-f commented on #427
@justinwoo great catch. I'm pretty sure this got in with #395, so I guess we could try downgrading LTS (and GHC) again?

[2019-10-02 07:31] #417 closed

[2019-10-02 09:04] jhrcek commented on #367
It seems nobody is working on this, so I'll take a look at this issue. If I don't send a PR within a week, consider my attempt failure :)

[2019-10-02 09:21] f-f commented on #367
@jhrcek thanks! Let me know if you need any more details about the code/spec for this 😊

[2019-10-02 18:27] f-f commented on #429
Hi @bjornkihlberg, thanks for the report!

I'm a bit confused because even if Spago seems to be building, there still seems to be something wrong, as the thing is still complaining about permissions. I wonder if someone else on Windows can replicate? (e.g. @stkb?)

[2019-10-02 20:19] stkb commented on #429
I can't replicate I'm afraid, with those package.dhall and spago.dhall files, both `spago build` and `spago install hareactive` both work fine (v10.0.0).

The (sporadic) permission denied error could come from some timing issue and a file still being in use. If I think of something I'll report back, of course

[2019-10-02 20:49] f-f commented on #429
@stkb thanks!

I guess we can close this until we find a replication then?

[2019-10-02 21:07] stkb commented on #429
Yeah I have nothing more to add right now.

[2019-10-02 21:17] justinwoo commented on #427
it might be worthwhile to have both a static and dynamically linked executable available for release. sounds like a pain, but can still be worthwhile for compatibility and for avoiding other unexpected behaviors.

[2019-10-02 21:36] f-f commented on #427
@justinwoo great point. I'd want to ship the static one to npm though, so that the majority of the users would skip the pain and who needs the dynamic binary can download it directly

[2019-10-02 21:45] justinwoo commented on #427
if you want to make it truly enterprise, you can require environment variables to determine which binary is downloaded

[2019-10-02 21:53] f-f commented on #427
@justinwoo I'm afraid I'm not that good at JS to be able to patch the installer, so I'll spawn another issue to implement that once we ship the static binaries

[2019-10-03 07:09] f-f opened #434 "CLI spec for alternate backends"
In #426 we added basic support for alternate backends.

As discussed in https://github.com/spacchetti/spago/issues/355 we should write down a "CLI spec" that alternate backends can conform to so that they'd work with Spago out of the box.

[2019-10-03 07:10] f-f opened #435 "Add support for `spago run` with alternative backends"
See #355

[2019-10-03 07:11] f-f commented on #355
Since the initial request was fixed by #426, I'll close this one and I spawned #434 and #435 to track support for the other things we discussed here.

Thanks for all the great input 😊

[2019-10-03 07:11] #355 closed

[2019-10-03 07:18] f-f opened #436 "Fix notice showing when trying to install a dependency already in the list"
If the user tries to install a package that we already have as a dependency, they get shown a confusing warning:

[code]

This is because we have a check to warn the user about the config being the same as when they started the command (i.e. their command didn't do anything), which is useful in some cases, but confusing in this one.
We should instead detect that the package is already there and do

[2019-10-03 07:19] f-f commented on #429
Alright I'll close this one, but I noticed a bug in the output of the report here, so I opened #436

[2019-10-03 07:19] #429 closed

[2019-10-03 08:46] f-f commented on #431
@elliotdavies great analysis! Something I'd like to add is that PureScript's FFI makes it so that JS files are "implicitly read" by the compiler if they are nearby the `.purs` files

So I'd say we could keep the current globs behaviour (i.e. specify globs for `.purs` files), and:
- ignore globs with `.js` files
- ..but watch the `.js` equivalents of the included `.purs` globs

[2019-10-04 03:02] andyarvanitis commented on #355
Sounds great, thanks!

[2019-10-04 05:01] f-f commented on #355
You're welcome 🙂

[2019-10-04 07:03] jhrcek opened #440 "Cleanup bump-version tests"
The tests for bump-version command are slower compared to other tests (each taking ~7s on my pc). In my opinion it doesn't make sense to have so many end2end tests checking this functionality.
I think we should reduce [these tests](https://github.com/spacchetti/spago/blob/52ddd50747bd139474008780cc612396a4b5477b/test/BumpVersionSpec.hs#L73-L94) to maybe 1-2 end2end tests (using spago cli directly)

[2019-10-04 08:13] f-f commented on #440
@jhrcek sounds great! Faster tests are always nice 🙂

[2019-10-04 09:12] jjl opened #442 "Revert #425"
Hi Fabrizio,

At [gargantext](https://gargantext.org/), we have been using spago to generate package sets for consumption with psc-package for several months now. In fact, at the time, we tried to use spago for everything but it was really very buggy and basic things did not work. Fortunately, package set generation has always been very reliable and we could use psc-package for the rest.

It's now

[2019-10-04 15:02] f-f commented on #442
Hi @jjl, thanks for reporting your experience!

I'm sorry to hear about the bugginess. Did you try reporting issues (you or any of your colleagues) at the time? If yes, were they fixed?

Then I'd like to point out that there's no pressure whatsoever to rewrite your build and you can continue keeping it like this for years: `spago@0.10.0` is and will be on NPM and GitHub releases possibly forever,

[2019-10-04 17:18] jjl commented on #442
Hi Fabrizio,

I didn't report any bugs at the time. It seemed like it was just generally a quite buggy piece of software and the bit I needed to work seemed to be okay, so I just ran with that. I'm part time, alas, so I don't have the luxury of much time to spend on these things.

I understand what you're saying about package-sets, and indeed about refactoring, but it still sits quite uneasily wit

[2019-10-05 18:41] f-f commented on #442
@jjl

I don't know, in my experience this thing has always been fairly stable even in the early days and us maintainers have always strived to be responsive on "showstopper" bugs.
For this to work reporting needs to happen though, so I'd invite you to open issues if you ever stumble on problems again

Indeed you could fork this and keep the codebase frozen to the commit before #425, but how's that

[2019-10-05 18:58] jjl commented on #442
I think you just told me my experience was wrong.

Giving up now.

[2019-10-05 18:58] #442 closed

[2019-10-05 19:43] f-f commented on #442
Not "wrong", but incomplete: the point I'm trying to make here is that anyone that walked in with a bug usually walked out pretty quickly with a fix

Anyways I tried to suggest some solutions above and I'd love to hear why you think they wouldn't work in your case. Could you detail more on this?

[2019-10-05 20:26] jjl commented on #442
I didn't file a bug report because:
- I had several whole minutes of spago experience under my belt at the time
- The errors made absolutely no sense to me
- The entire feeling I was getting from trying to use it at the time was that it was junk and I was just lucky I managed to get through package set generation without something going wrong.

This may not be what you want to hear, but I swear it

[2019-10-05 21:15] f-f commented on #436
Fixed in #439

[2019-10-05 21:15] #436 closed

[2019-10-05 21:16] f-f commented on #377
Fixed in #422

[2019-10-05 21:16] #377 closed

[2019-10-06 07:48] jhrcek commented on #367
Implemented in https://github.com/spacchetti/spago/pull/443

[2019-10-06 07:48] #367 closed

[2019-10-06 07:58] jhrcek commented on #440
Here are just some numbers for referene:

Test suite duration as reported by Hspec `Finished in X seconds`, measured on my machine and averaged over 5 runs:
`stack test`: ~ 118 seconds
`stack test --test-arguments '-m BumpVersion'`: ~ 69 seconds

So BumpVersion tests take about 57% time of the entire test suite.

[2019-10-07 09:21] jhrcek opened #447 "`No matches found when trying to watch the following directories` printed even for empty list of directories"
The warning added as part of https://github.com/spacchetti/spago/pull/420 seems to be always printed, even when there's empty list of not-matched directories.

[code]
This should only be printed when the list of not matched directories is not empty.

[2019-10-07 14:13] jhrcek commented on #440
Resolved in https://github.com/spacchetti/spago/pull/445

[2019-10-07 14:13] #440 closed

[2019-10-07 14:27] jhrcek commented on #447
Fixed in https://github.com/spacchetti/spago/pull/448

[2019-10-07 14:27] #447 closed

[2019-10-07 22:16] csicar commented on #434
First idea to get the conversation started:

Option | Default | Description
-------- | --------- | --------------
no option | - | generates files in the target language and saves them in the directory ???
`--src` | `src/` | sets the directories where the purescript source files are located (used for finding FFI files)
`-o` | `output/[compilerName]`  | sets the directory, where the target files wil

[2019-10-08 10:39] jmackie opened #451 "Concurrent spago usage is very slow"
Reproduce with:

[code]

Changing `n` in `{1..n}` significantly affects the execution time and I can't see any obvious reason why this would be the case.

[2019-10-08 10:54] f-f commented on #451
According to my tests on our project at work I get:
- `~1.8s` with 5 concurrent calls
- `~25s` with 50 concurrent calls, which is roughly 10 times more

The reason why this makes sense is that this is a CPU-bound task, since we're calculating the transitive dependencies of the project independently at each invocation (note that this got significantly faster in the latest release thanks to #412, so

[2019-10-08 12:52] jmackie commented on #451
Fair enough. My use case is/was a dodgy script that tried to graph the packages in our work monorepo. I've got a better solution now but I thought it was an observation worth raising.

Cheers for the quick response though pal, keep up the good work :pray:

[2019-10-08 14:42] #427 closed

[2019-10-08 18:41] f-f commented on #451
@jmackie thanks for detailing! Talking IRL with @justinwoo he figured this might be because of the Haskell Runtime (RTS) starving for resources. So we could try [passing some options to it](https://downloads.haskell.org/~ghc/latest/docs/html/users_guide/runtime_control.html#rts-opts-cmdline) to reduce the amount of threads - e.g. try `spago +RTS --help` to see how you can tweak the runtime paramet

[2019-10-08 23:00] #451 closed

[2019-10-09 07:47] f-f commented on #434
cc @nwolverson @andyarvanitis

[2019-10-09 08:01] f-f commented on #370
@jhrcek great point. We switched to putting the `packages.dhall` in releases with #322, and we currently support the old style for some things (e.g. upgrading the package set will detect the old style), but it's listed for removal in 1.0 (in #291), so I'd say it's fine if for the new features we only support the new style

[2019-10-10 17:00] f-f opened #454 "Maintainer vacation"
I'm going to be on vacation and offline for two weeks (13th-27th Oct), so in the interim I nominate @stkb, @Dretch and @jhrcek to look over the project - e.g. feel free to merge changes without my approval

[2019-10-10 23:41] #435 closed

[2019-10-11 03:34] andyarvanitis commented on #434
Looks good to me so far.
  1. I would vote for `--build` being the default (`--no-build` being optional).
  1. I'll look into `--src` and `-o` for both of my backends (I can at least provide a warning if one of them needs to be ignored)
  1. "The default value for `--output` could also be just `output/`. (That's what psgo does)" – Please!
  1. I can look into `bundle-app` and `bundle-module`

[2019-10-11 17:05] csicar commented on #434
I would say either having the `--build` or the `--no-build` flag, but not both as that would be confusing.

So you mean, that without any options provided to the compiler it will create the files in the target language *and* build a binary?

[2019-10-12 03:35] andyarvanitis commented on #434
Right. I'm open to discussing it, though.

[2019-10-13 21:28] f-f commented on #430
Fixed in #446

[2019-10-13 21:28] #430 closed

[2019-10-14 09:20] rainbyte opened #455 "Add output dir or purs-args option to spago.dhall"
I was trying to change output directory to `dist` by setting it inside `spago.dhall` config file, but it seems that changing that option it is only possible using the command line.

Would it be possible to add this option to the config file? Something like this could work:

[code]

Other alternative could be adding a `purs-args` setting to the config file, like this one

[code]

Thanks in advance!

[2019-10-14 11:47] f-f opened #456 "Add a "getting started with Parcel" to docs"
We have a "getting started" guide in the docs, but that's quite minimal. Leon on Slack noted how we could have a slightly more detailed "getting started with Parcel" to show how one could get a JS project to build with Spago + Parcel:

it all makes sense as soon as you understand how the things connect with one another, but as long as you don't, the instructions are rather unclear. maybe a beginne

[2019-10-15 11:29] csicar commented on #434
No, I'm fine with that. That's probably what the user expects.

[2019-10-17 19:32] nsaunders opened #459 "Additional fields required for bump-version command break local package reference."
I am using Spago v0.10.0.0.

The `bump-version` command can now generate a `bower.json` file, which is awesome. This feature requires some new fields in `spago.dhall`, namely `license` and `repository`.

Unfortunately, the additional fields break local package references:

[code]

The above error appears when I run `spago build` in the client/dependent project, where `packages.dhall` looks like th

[2019-10-18 14:54] beebpeeb opened #460 "Problem installing spago behind proxy"
Although the initial `npm install` of `spago` works behind a proxy, the subsequent `install.js` to fetch and install the binary does not.

Would it be possible to use an npm library which respects `$http_proxy` for this installation step?

[2019-10-19 01:39] Benjmhart commented on #456
I'll take a run at this one since I've set up projects to do this

[2019-10-19 21:59] ad-si opened #462 "Show warning if package is added to packages.dhall's additions, but not listed as dependency in spago.dhall"
I think I remember we've talked about this before, but I can't remember what the consensus was. Also this just cost me half an hour (again), and It think it's still a big issue!

[2019-10-21 13:44] swuecho commented on #456
and webpack?

trying to use the generated index.js with webpack, leading to "Cannot assign to read only property 'exports' of object '#<Object>'"

[2019-10-21 18:42] Benjmhart commented on #456
@swuecho - currently the guide is for purescript,  however I might have some time to add steps to configure for webpack and nodemon (for server-side projects) at some point.

[2019-10-23 08:28] vlatkoB opened #465 "`--clear-screen --watch` slowely scrolls down after each rebuild"
- spago v0.10.0.0
- linux, bash

When using this cmd (with `build` or `bundle-app`, and both directly or via `yarn`)
[code]
The screen on the first run:
[code]
The screen on the second run:
[code]
Next builds simply show below the previous one and so on.

[2019-10-23 13:25] jhrcek commented on #465
I briefly looked into this and it seem it should be easy to fix. Just change this line

https://github.com/spacchetti/spago/blob/0bdf296d14efaba9fb6798768c5281446dafe9a2/src/Spago/Watch.hs#L68

like this:

[code]

Tried this locally and it seems to work fine, but it only clears the screen on rebuild (after you change the file), not on the initial build. Would the expected behavior be to also clear

[2019-10-23 13:55] vlatkoB commented on #465
Thanks for looking into it. It works as expected. :-)

I do not think the first build should trigger clearing the screen, so it seems to me it is working correctly.

Will you make a PR?

[2019-10-23 15:41] jhrcek commented on #465
Sure, I will

[2019-10-23 17:12] elliotdavies commented on #462
I don't think this would hold up in a monorepo scenario where you have a single, shared `packages.dhall` but many projects each with their own `spago.dhall`.

However there was some discussion in https://github.com/spacchetti/spago/issues/165 about figuring out the `spago.dhall` dependencies automatically, which would remove the duplication.

[2019-10-25 21:45] f-f commented on #459
@nsaunders great catch! Fix is up in #470, though we'll need to wait until #469 goes in

[2019-10-25 21:56] f-f commented on #454
I'm back, thank you @stkb @Dretch and @jhrcek! 🙂

[2019-10-25 21:56] #454 closed

[2019-10-25 22:24] f-f commented on #462
@ad-si thanks for reporting this, and I agree, it's a very common issue that we could prevent

@elliotdavies that's a great point, I wonder if we are able to reliably detect such situation and disable this behaviour?

[2019-10-26 05:01] vlatkoB commented on #465
A question related to `--watch`. What about adding the `--ignore-pattern` (command line and/or config), so `--watch` does not jump on every file change?
With `emacs`, when you edit any file, it creates a `lockfile` named `.#edited_filename` in the same directory and `--watch` kicks in.

[2019-10-26 15:26] f-f commented on #456
Fixed in #461

[2019-10-26 17:53] #456 closed

[2019-10-26 23:22] #459 closed

[2019-10-26 23:58] Benjmhart commented on #456
@f-f Actually I think I'll add a guide for nodemon and (possibly) webpack as well.   I'll see if I can get a PR up in a reasonable amount of time.

[2019-10-27 00:28] nsaunders commented on #459
Awesome, thanks @f-f!

[2019-10-27 01:39] swuecho commented on #456
@Benjmhart  https://github.com/purescript/purescript/issues/3613 the module format make it not so easy to work with webpack.

[2019-10-27 09:29] f-f commented on #459
You're welcome 🙂

[2019-10-27 16:18] joneshf opened #471 "Specify location of local cache"
In a similar way that the global cache can be altered by the person using `spago`:

https://github.com/spacchetti/spago/blob/5e4e134d3734eef4750bb6e9d224c3f1f47fa6fc/src/Spago/GlobalCache.hs#L140-L148

It would be nice if the local cache could be altered by the person using `spago`:
https://github.com/spacchetti/spago/blob/5e4e134d3734eef4750bb6e9d224c3f1f47fa6fc/src/Spago/FetchPackage.hs#L174-L17

[2019-10-27 16:36] srghma opened #472 "--config option doesnt accept absolute path"
if you do

[code]

then

[code]

and

[code]

_______

real example

[code]

_____

the second error `Missing file ./packages.dhall` is a bit different, I believe that path should be derived from `spago.dhall` `packages` option

[code]

[2019-10-27 19:30] Benjmhart commented on #456
@swuecho - I'm writing webpack docs today.   if you can work with parcel you can work with webpack.

[2019-10-27 22:18] Benjmhart commented on #456
@swuecho - there is a PR up relating to your request:https://github.com/spacchetti/spago/pull/473

you can also look at the docs in my fork to see how to get a webpack development server up and running with Spago and Purescript: https://github.com/Benjmhart/spago

[2019-10-28 04:22] swuecho commented on #456
@Benjmhart  Thanks. I did not know there is `purs-loader` out there. after I copied the loader in my webpack config works greet.

I was expected that I can import the js output directly in js code.

[2019-10-28 04:57] Benjmhart commented on #456
@swuecho  - you can definitely use a webpack in the way you describe, with spago producing an output in js and webpack bundling the JS as a dependancy, however webpack should really be your end-to-end development bundler, with spago being used more for managing dependancies in that workflow.

[2019-10-29 20:47] juanpaucar commented on #431
@elliotdavies  Hey, I was wondering if I could take this issue?

[2019-10-30 00:51] elliotdavies commented on #431
@juanpaucar Please do! 😁

[2019-10-30 02:54] Benjmhart commented on #256
I'll try and tackle this in the next week or two

[2019-11-02 12:08] FungusHumungus commented on #410
I used the `--then` flag to post a notification once pulp had finished building.

[code]

It was quite handy as I didn't have to swap to the terminal to check to see when everything was ready to refresh the browser.

[2019-11-04 04:46] Benjmhart opened #476 "Dhall deprecations"
There are a number of deprecation warnings in ./src/Spago/Config.hs stemming from usage of Dhall.TypeCheck.X.

We ought to fix that up unless there is a real reason to continue using the deprecated features.

@f-f  - is there a reason not to resolve?

[2019-11-04 09:31] f-f commented on #476
@Benjmhart no, they should be fixed! I'm fixing this as part of #458

[2019-11-04 09:33] f-f commented on #419
Things happening in #458:
- [x] clone the relevant repos only when making changes to them instead of doing it at start. This is because then we can just trash the repo if there are issues instead of trying to cleanup (which still fails sometimes, and then we get into broken state)
- [x] do only one PR a day to `package-sets` instead of one for every package. This is to reduce annoyance
- [x] open

[2019-11-04 09:40] f-f commented on #471
@joneshf yeah this sounds good. However I wonder what's the underlying use-case?
If that's for "monorepo sharing" I'd like to avoid adding another knob and instead have Spago figure this out. We already guess the "monorepo root" since #422 in order to share the `output` folder, so this would not be a big deal to implement

[2019-11-04 09:42] f-f opened #477 "Ignore emacs tempfiles in `--watch`"
As noted in https://github.com/spacchetti/spago/issues/465#issuecomment-546569568, emacs creates some temporary files that trigger unnecessary rebuilds when using the  `--watch` flag. We should just ignore these files (unless we find a usecase for not ignoring them, in which case we can make this configurable)

[2019-11-04 09:42] f-f commented on #465
@vlatkoB I think we should just ignore the emacs pattern in general, as you'd always want to exclude these kinds of events.

I'll close this since it has been fixed in #466 and I opened #477 to track your usecase

[2019-11-04 09:42] #465 closed

[2019-11-04 09:59] f-f commented on #472
Hi @srghma! I can reproduce the first problem you reported, and it's a bug in this line:
https://github.com/spacchetti/spago/blob/8ce19ea5648f8bd65d6db88428bac56e66cf2560/src/Spago/Config.hs#L115

The way we should fix it is that we should call `makeAbsolute` on the config path, either here or when we [read it in](https://github.com/spacchetti/spago/blob/8ce19ea5648f8bd65d6db88428bac56e66cf2560/ap

[2019-11-04 10:02] f-f commented on #410
Yeah this sounds good, let's go with the way `pulp` does it since it seems to be a nice design!

[2019-11-04 10:22] srghma opened #478 "`Missing file ./packages.dhall` when not in project dir"
suppose your project is in

[code]

when you do

[code]

but when you do

[code]

 I believe that path to `./packages.dhall` should be derived from `./spago.dhall` `packages` option

[code]

[2019-11-04 10:23] srghma commented on #472
I have created separate issue https://github.com/spacchetti/spago/issues/478

[2019-11-04 10:25] srghma commented on #478
just checked what will be if I rename `./packages.dhall` to `./mypackages.dhall`

and it worked

[code]

[code]

[2019-11-04 10:26] srghma commented on #478
also checked what will happen if I rename `./spago.dhall` to `./myspago.dhall`

worked too

[code]

[2019-11-04 10:27] srghma commented on #478
I dont understand why we have the `./packages.dhall` file?

what's the idea of having it?

wouldn't it be easier if we had only `./spago.dhall` file, and not `spago.dhall` + `./packages.dhall`?

[2019-11-04 10:40] f-f commented on #455
@rainbyte yes, having `output` in the config file would be nice! Ideally you'd want all the flags to be configurable also through the config file, but since we've been iterating quite a bit on both we haven't really been trying to sync them

Also while this sounds straightforward, there are some things that we need to pay attention to, e.g. the fact that the `output` folder is shared in monorepos

[2019-11-04 11:13] f-f commented on #478
@srghma thanks for the replication example, I can replicate this and it's a bug

If you run with `-v` you can see that the last log line is coming from this function, so I think the bug is somewhere here (cc @elliotdavies, any idea why this is happening?):
https://github.com/spacchetti/spago/blob/261f34cfa4155f4fac5b15b60f746c7b5b563e73/src/Spago/PackageSet.hs#L262-L271

Re unifying `packages.dhal

[2019-11-04 13:02] joneshf commented on #471
Surprisingly, this issue isn't about monorepos :). Just looking to move that directory.

What are you thinking for naming? I've no preference.

[2019-11-04 14:06] elliotdavies commented on #478
Yeah, we're incorrectly assuming `spago.dhall` lives in the same place as Spago was invoked from:

- config file lives at `/a/b/spago.dhall`
- package-set file lives at `/c/packages.dhall`
- `readImports` correctly calculates the relative path from the first to the second as `../../c/packages.dhall`
- `freeze` is invoked with that relative path directly, not taking into account that it needs to pr

[2019-11-04 14:16] f-f commented on #478
@elliotdavies would it help if we had the config as an absolute path? (which is the fix for #472)

[2019-11-04 14:25] elliotdavies commented on #478
@f-f I don't think it should make a difference in this case - one way or another we still need to combine the location of the config with the relative path returned from `readImports`

[2019-11-04 14:58] elliotdavies commented on #478
@f-f Hmm I wasn't quite right, it's actually failing on `Parser.exprFromText` inside `readImports`. So perhaps it's a Dhall issue? (We may still need to change the path we're passing to `freeze` but right now I can't get far enough to test that.)

[2019-11-04 22:41] felixSchl commented on #410
I wonder if we can achieve the same thing in a more composable manner. Imagine spago only reporting to stderr during `--watch` and only reporting build status updates line by line on stdout. Then one could compose quite easily downstream using ordinary shell tooling.

Imagine some structured output like this:

[code]

it would be trivial to do sth like:

[code]

Then again, that precludes spago fr

[2019-11-05 10:19] f-f commented on #471
@joneshf I'd say we could use an environment variable, starting with `SPAGO_`. Other than this I have no particular preference 🙂

[2019-11-05 10:26] f-f commented on #478
@elliotdavies if the problem is in Dhall code then I have the feeling that having the absolute path there might fix the issue.

On the other hand, this bug springs up the philosophical question of "should we care about project roots", i.e. if I run
[code]
..then what's my project root, `./` or `./foo`?

Right now we'd have `.spago` in `./`, but `./output` in `./foo`, which seems inconsistent 🤔

[2019-11-05 10:33] f-f commented on #410
@felixSchl yeah this is also a very interesting approach. Note that starting with #475 logging is starting to move to `stderr`, so this option is also totally viable (and good by me). On the other hand, the `--before/--then/--else` approach might be more flexible because of the cancelability aspect

[2019-11-05 19:56] cscalfani opened #480 "Warning about Github"
Why am I getting the following warning:

```Warning: was not able to match url with GitHub ones: <gitlab url redacted>```

Anyone hosting their own Git Server will get this warning.

[2019-11-06 06:41] jhrcek commented on #480
This warning was fixed recently on master (see [this change](https://github.com/spacchetti/spago/pull/453/files#diff-f232d5779e6f885e2cb557f672c29c24R68)) and the change is going to be released in spago 0.11.0.0

This warning is printed whenever repo url doesn't have the exact form `https://github.com/<ORG>/<REPO>.git` and it means the repo will not be cached in global cache (on my PC it's in `~/.

[2019-11-06 07:49] f-f commented on #480
Yeah I think the new form is less annoying and way clearer IMO, but still not actionable - i.e. I doesn't answer the question @cscalfani has of "how do I make this go away?"
So I think we should make it a debug log instead of printing it by default. Fix for this up in #481

[2019-11-06 10:07] #480 closed

[2019-11-06 10:54] kohanyirobert opened #483 "Hitting Ctrl-C in "spago repl" messes up prompt (cmd.exe, powershell.exe)"
Having opened up a new `cmd` shell and starting `spago repl` in a simple project if I hit <kbd>Ctrl-c</kbd> something brokes ... the REPL exits, but after that if I restart it in the same `cmd` session my input gets mangled and garbled.

Instead if I do this

`purs repl "src\**\*.purs" ".spago\*\*\src\**\*.purs"`

all is fine. <kbd>Ctrl-C</kbd> clears the current line and keeps things running, and

[2019-11-06 11:38] f-f commented on #483
Thanks for the report @kohanyirobert!

@stkb any idea why this might be happening?

[2019-11-06 12:31] elliotdavies commented on #478
I've submitted a PR to fix this - needed to pass an option to Dhall's `load` to set the base directory for import resolutions.

I'll take a look at #472 in a bit too.

On the project root, as of #422 the `output` folder will move to wherever the root `packages.dhall` is, right? So I think we're pretty much considering that to be the root, if we care at all.

[2019-11-06 15:43] kohanyirobert commented on #483
One bit of extra info. I tried to define an `npm` script in my `package.json` which executes this: `purs repl "src\**\*.purs" ".spago\*\*\src\**\*.purs"` but it has the same issue as running `spago repl`, so I guess the issue relates to subprocesses created in a not so correct way for Windows to handle or something.

[2019-11-06 18:22] #478 closed

[2019-11-06 18:54] stkb commented on #483
I had noticed this before but my experience is a bit different. For me it doesn't matter whether you run `purs repl` through Spago or directly, the issue is the same and seems to lie with purs.exe.

I'll describe what I see on my machine. This just running from standard cmd.exe and purs v13.4:

[code]

The repl starts and creates a process tree looking like this:
[code]
The `purs.exe` (2) process

[2019-11-06 20:27] kohanyirobert commented on #483
What @stkb says. I've verified the same happens on my end. When I've executed `purs repl ...` I didn't have `purs.bin` processes running around aimlessly so I didn't notice this. Anyway, using `purs repl ...` from the get-go keeps things behaving nice.

[2019-11-07 15:28] Benjmhart commented on #415
I can try and tackle this one over the next week or two

[2019-11-07 15:57] f-f commented on #256
Fixed in #475 and #486 🎉

[2019-11-07 15:57] #256 closed

[2019-11-07 16:59] f-f commented on #483
@stkb thanks for looking into this, wonderful analysis! 👏

So it looks like this is not a Spago issue (i.e. I'm not sure we can even work around this), so should we open an issue in [the `purs` repo](https://github.com/purescript/purescript)?

[2019-11-07 17:25] f-f commented on #419
This is done now that #486 is done. There are the "new features" listed in the beginning, but we can add them easily as we go, so no need to track this anymore

[2019-11-07 17:25] #419 closed

[2019-11-07 17:28] f-f commented on #476
Fixed in #486

[2019-11-07 17:28] #476 closed

[2019-11-07 17:31] f-f commented on #434
@csicar it looks like your first proposal seems good by everyone, so I guess we could proceed to standardize this? 🎉

I guess the next steps would be:
- commit what we have so far to a file and call it `v1` or something
- define what the spec entails and guarantees - i.e. "if you conform to this then spago will run your thing just fine"
- define a versioning schema for the spec to handle things li

[2019-11-07 17:52] f-f commented on #483
Oh, it looks like Pulp has a similar issue open: https://github.com/purescript-contrib/pulp/issues/342

[2019-11-07 20:47] kohanyirobert commented on #483
When I said that "I've verified the same happens on my end" as @stkb described what I meant that running `purs repl ...` directly _after_ I already run `spago repl` and exited with a <kbd>Ctrl-c</kbd> behaves incorrectly, but running only `purs repl ...` is fine. So, essentially, what I observe is different, sorry for the confusion, let me further explain.

1. I verify that I have no `purs.bin` pr

[2019-11-08 11:05] kohanyirobert opened #488 "Can't use stdin with `spago run`"
Given this code

[code]

When I run ```echo "wut?" | spago run``` nothing gets displayed in the console, althought that's my expectation.

After `spago build` doing `echo "wut?" | node .spago/run.js` works.

[2019-11-09 16:59] #383 closed

[2019-11-09 17:02] f-f commented on #488
@kohanyirobert your expectation feels right to me as well, so I put up a fix for this in #490. Note that it includes your example file as a test 🙂

[2019-11-10 10:17] #488 closed

[2019-11-11 10:07] stkb commented on #483
Apologies, the behavior I described above is wrong and was related to my setup.

@kohanyirobert Thanks for the full description: I can now corroborate what you say (though I think you mean `purs.bin` in your examples? You have a `purs.bin` if you install PureScript via npm; `purs.exe` if you use the direct download.

I was also using a compiled `spago.exe` file directly rather than the NPM install

[2019-11-11 10:56] stkb commented on #483
Seem to have found the fix, so PR will be coming soon

[2019-11-11 12:54] #483 closed

[2019-11-11 20:25] kohanyirobert commented on #483
@stkb Yep, when I wrote `purs.exe` I meant `purs.bin` and I indeed use the `npm` version of `spago` and `purs`. Cool if this is fixed! Don't have time to try out the binaries, I'll be on the lookout for the new release, but I'm pretty sure this fixes it. Thanks big time! 👍

[2019-11-12 20:29] csicar opened #497 "NPM release for `0.11.1`"
Could you also update the version on [NPM](https://www.npmjs.com/package/spago)?

The version is still on `0.10.0` at the moment.

[2019-11-12 20:48] f-f commented on #497
@csicar yeah sorry, I unpublished that version as I found out that the statically-linked binary for Linux doesn't include `netbase`, so all the connectivity doesn't work. I'll fix that and cut `0.11.2`

[2019-11-12 21:21] csicar commented on #497
Thank you for the quick response. No problem. I just wanted to make sure it wasn't forgotten or anything :)

[2019-11-12 22:03] f-f commented on #497
@csicar we cannot forget it as the new releases on NPM are cut by CI following the releases happening here - [see the relevant part of the Travis file](https://github.com/spacchetti/spago/blob/28af364791aadf402e743e2d9677852c6063baea/.travis.yml#L159-L167)

[2019-11-12 22:23] csicar commented on #497
oh yeah. That's nice

[2019-11-15 12:21] kamoii opened #500 "Linux's static binary fails with segmentation fault"
Downloaded `Linux.tar.gz` from release page:
https://github.com/spacchetti/spago/releases/tag/0.11.1.0

Running `spago init` fails with segmentation fault. Haven't analysed the core dump yet.

[code]

I'm using Arch linux.
[code]

[2019-11-15 12:35] kamoii commented on #500
Noticed that `spago init` recieves `-v` option.
[code]
Looks like something wrong with my cache. Deleted the cache and tried again but result was same.

[2019-11-15 12:43] kamoii commented on #500
Tried `linux-dynamic.tar.gz`, the shared library version, and now it succeed.

[2019-11-15 13:23] kamoii commented on #500
Treid the static version on a different macean and now it succeeds.
[code]

[2019-11-15 13:44] f-f commented on #500
@kamoii yes, the static binary is currently broken on some distros, because linking to `glibc` is problematic. I'm going to publish another release switching the binary back to the dynamic one for now

[2019-11-15 15:42] #497 closed

[2019-11-15 15:42] #500 closed

[2019-11-17 08:34] gcsolaroli opened #503 "Downloading the spago binary failed."
I am trying to upgrade my (toy) project to Spago 0.12.0.

Unfortunately, it fails pretty quickly on my Mac (running Catalina 10.15.1).

[code]

Any idea on what I am doing wrong?

[2019-11-17 08:38] gcsolaroli commented on #503
Out of curiosity, I check the content of the linked file listed in the logs:

[code]

Looks like the installer somehow thinks I am using Windows. 😳

[2019-11-17 11:54] alextes commented on #503
Release 0.12 switched to static linking, changing the naming of the released assets in the instance of macOS from `osx.tar.gz` to `osx-static.tar.gz`. The install script still expects the old naming [here](https://github.com/spacchetti/spago/blob/master/npm/install.js#L12).

As for the confusing contens of your spago executable (`which spago`). The script typically replaces the contents of the exe

[2019-11-17 13:45] f-f commented on #503
@alextes oh, great catch. I did this change in #502 thinking that it would affect only Linux but of course macOS is affected too.

The macOS binary is actually not statically linked, only the name is wrong. I'll put up a fix and cut a new release ASAP

[2019-11-17 13:48] gcsolaroli commented on #503
Thanks @alextes, with your suggestion I am able to start using spago@0.12.0 right away.

[2019-11-17 14:31] #503 closed

[2019-11-17 16:09] csicar commented on #497
Thank you. The AUR-Package is now updated to `0.12.1` as well

[2019-11-17 20:37] f-f commented on #497
@csicar thank you! :slightly_smiling_face:

[2019-11-17 22:48] hdgarrood commented on #415
As it happens there is an issue for this inside the compiler https://github.com/purescript/purescript/issues/3493, and I think it might be preferable to do this inside the compiler rather than in Spago. Although having said this, the work we are looking at in that issue is going to be quite a bit more involved than what is being discussed here, so perhaps it's a good stopgap anyway.

[2019-11-17 23:02] hdgarrood commented on #134
I'm less keen on the second approach personally, because in my experience, most of these JS tools expect to work on one file at a time. This means that very tight integration might not work so well with PureScript, where the expectation is that whenever something changes, you rerun the compiler with all of your source files as input. I (and a few others) have found, for example, that a webpack set

[2019-11-17 23:39] JordanMartinez commented on #134
Good point! Perhaps a better solution is to run a bash script that correctly integrates such tools together instead?

[2019-11-18 00:02] hdgarrood commented on #134
No, Bash is often more trouble than it's worth, particularly for Windows users. I think in most cases the best approach is to point your javascript bundling tool at your purescript output directory and not build any extra integration between them.

[2019-11-21 16:22] Benjmhart commented on #404
@f-f  I think this would be particularly helpful for identifying and adding the dependencies of the requested package,  as using an override (at least the last time I attempted to use an override) requires identifying the dependencies of the override package.

I am very much in favor of such a command line helper.

[2019-11-22 03:29] Benjmhart commented on #415
@f-f I'm looking at implementation on this one now that I've had some time to examine. this and the referenced issue https://github.com/spacchetti/spago/issues/165 - it seems like this is blocked until we do something with the ideas in https://github.com/spacchetti/spago/issues/165

[2019-11-22 03:55] Benjmhart commented on #165
after looking at this issue, it appears to be blocked waiting for the graph command, subsequently https://github.com/spacchetti/spago/issues/415 is blocked as well

[2019-11-25 16:45] f-f opened #506 "`spago run --watch` recompiles but doesn't rerun"
It looks like this happens because Spago fires up a Nodejs process that might not terminate. When reloading the watcher the old process is left running and a new one is started.

We should instead keep track of the old `ProcessHandle` (see [here](http://hackage.haskell.org/package/process-1.6.7.0/docs/System-Process.html#v:createProcess) for how to make one) and kill that in the watcher

[2019-11-25 19:46] bbarker opened #507 "When trying to publish, get git: recoverEncode: invalid argument (invalid character)"
This is [the repo](https://github.com/labordynamicsinstitute/metajelo-ui-css-classes) at 5b2d8004ed3c3945464e86701170b407b1a8c114

[code]

[2019-11-26 18:12] bbarker commented on #507
Normal tag creation works on the same repo:

[code]

[2019-11-26 18:13] bbarker commented on #507
Forgot to mention this is Spago version 0.12.1.0

[2019-11-26 19:16] bbarker commented on #507
I'll just note that doing the following allowed a publsh to work:

1. doing the manual tagging above
2. doing a manual `bower install` and resolving dependency conflicts manually (not covered in the spago readme)

[2019-11-28 23:25] cdepillabout opened #510 "add backup docs-search-app.js and purescript-docs-search to templates directory"
It appears that there is code in `src/Spago/Templates.hs` that embeds code from the `purescript-docs-search` repo into the spago binary:

https://github.com/spacchetti/spago/blob/a4679880402ead320f8be2f091b25d30e27b62df/src/Spago/Templates.hs#L30-L46

However, the two fallback files specified (`templates/docs-search-app.js` and `templates/purescript-docs-search`) don't actually seem to exist:

htt

[2019-11-29 00:56] cdepillabout opened #511 "haddock generation broken"
Haddock generation appears broken for spago.

When trying to generate haddocks, I get errors like the following:

[code]

I believe this is caused by an unfortunate feature of `haddock` that doesn't allow haddock-style markup in comments that are not proper haddocks.

--------------------------------------------------------------------------

I recently fixed something in `purescript` similar: htt

[2019-11-29 01:05] cdepillabout opened #512 "release to hackage"
I am currently working on [packaging spago](https://github.com/NixOS/nixpkgs/pull/74557) in nixpkgs.

nixpkgs has a convenient way of (semi-)automatically getting package updates from Hackage for Haskell packages that have been released to Hackage.

It would be nice for us if spago was uploaded to Hackage on every release.

However, I completely understand that it might complicate the release proc

[2019-11-29 12:33] f-f commented on #512
@cdepillabout yes, I thought about uploading to Hackage, but:
- as you say it's a bunch of additional work. Moreover, the CI setup is already kind of fragile so I'm wary of adding more things to the pile of stuff to maintain there
- I wouldn't want other Haskell packages to depend on this for now, as we'd have to think about versioning and API breakage and so on, and it's already hard even just fo

[2019-11-29 12:39] f-f commented on #511
@cdepillabout right, I think I never generated Haddocks for the package ever. Want to have a go at this?

[2019-11-29 12:40] f-f commented on #510
@cdepillabout that's right, the files are not supposed to be there. If you look at the code for `embedURLWithFallback`, they get downloaded the first time you try to build if they are not there:
https://github.com/spacchetti/spago/blob/a4679880402ead320f8be2f091b25d30e27b62df/src/Spago/TH.hs#L32-L50

We did consider that this is not exactly Nix-friendly, but building this from scratch with Nix is

[2019-11-30 00:03] cdepillabout commented on #512
@f-f Thanks for the response.

I definitely agree with this.  I think it is completely reasonable to only have the two release channels (NPM and GitHub releases).

I don't think there are any hard-and-fast rules for versioning packages on Hackage (aside from most people following the PVP), so personally I'd completely understand if you were to upload Spago to Hackage and have your own versioning p

[2019-11-30 00:07] cdepillabout commented on #510
@f-f Sorry, I believe I misread the code there!

Originally, I had thought that the `fallback` was supposed to already be in the `spago` repo (and it was only downloaded when missing for some reason), but now I see it is intended to be downloaded on first build.

Sorry for the noise here.

[2019-11-30 00:07] #510 closed

[2019-11-30 00:24] cdepillabout commented on #511
@f-f I'll take a look at this and see if I can get something working.

[2019-12-02 10:10] danielo515 opened #517 "spago build for psgo not working"
Hello!
I'm having problems on macos to run spago build using psgo as backend.
I have Go toolchain installed and I can run go in any terminal.

Here is my spago.dhall:

[code]

And here is the error I'm getting:

[code]

I followed all the isntruction shtat I have found and I'm not sure what else should I try or install.
Compiling to JS has no problems.
Thanks in advance.

[2019-12-02 10:22] danielo515 commented on #517
Ok, I just found the way to solve this. I download a psgo binary and put it on a binary folder that was on my path. After that, everything worked without problem and now I have my native build file called Main.
This is not a fault on spago at all, it's psgo installation instructions that are not clear, so I'll report this there.
Thanks for this awesome project.

[2019-12-02 10:22] #517 closed

[2019-12-02 10:31] f-f commented on #517
You're welcome! And happy to hear you figured out 🙂

[2019-12-02 12:02] klntsky opened #518 "`spago search-set` command"
We could add a command like this, that could be used to open `https://spacchetti.github.io/starsuit/#search:%s` in the browser, where `%s` is a search query.

[2019-12-02 12:12] klntsky commented on #518
spacchetti/starsuit#1 is a blocker.

[2019-12-04 11:35] Ebmtranceboy opened #520 "segmentation fault with argonaut and affjax installs on Ubuntu"
With spago version 0.12.1.0, I have a segmentation fault during the installations of purescript-argonaut and purescript-random. These are happening just after 'spago init' on a fresh new project

Linux kernel : 4.15.0-72-generic
Ubuntu :  18.04.3 LTS
npm : 6.13.2

PS: Installations with bower work as expected.

Edit: segmentation fault with purescript-affjax also
Edit2 : segmentation fault on rand

[2019-12-04 15:33] #511 closed

[2019-12-04 15:43] nwolverson commented on #434
Started separating the purerl backend to a separate backend executable rather than a compiler fork. Working great so far

Some thoughts

* Wonder if a command based CLI (like `purs` and `spago`) may make sense, otherwise there will end up being irrelevant combinations of options

* Don't think '--src' should be required, the CoreFN representation already specifies the source path of a given module

[2019-12-09 07:25] ford-prefect commented on #104
As a note for Fedora users who end up here, you need to install `ncurses-compat-libs`

[2019-12-09 11:10] nwolverson commented on #434
1. Problem in the above scheme, optparse-applicative (which I'm using for argument parsing, same as purs and spago) doesn't support optional values for parameters like `--run [Main.main]`. I'd suggest splitting out the main argument, as existing tools `purs bundle`, `spago`, `pulp` do. Ideally `$BACKEND run [-u Main.main]` or such. Alternatively, just make the function mandatory, and `spago` can d

[2019-12-09 14:28] csicar commented on #434
I was trying to avoid that to keep the CLI of backends simple. But I do see the problem, that we could easily end up the mutually exclusive arguments and other weird stuff. I guess `$BACKEND run` and `$BACKEND build` would be the to sub-commands?

I'm using `optparse-applicative` as well and ran into the same problem. To fix this, I removed the `value` option from the parser and added the default

[2019-12-09 16:22] nwolverson commented on #434
That would be my suggestion - at least right now, my mental model is that "$BACKEND" and "$BACKEND --run" are the 2 commands. I certainly intend to add a `repl` too. Ultimately it's possible to just have a bunch of `--` options for these things, it's just not the interface I would choose to present to anybody using the backend directly.

Regarding `--run` - I think that the "main function" argumen

[2019-12-11 07:41] f-f commented on #520
@Ebmtranceboy unfortunately I don't seem to be able to replicate this one. Does it happen consistently on your machine?

[2019-12-11 07:47] f-f commented on #434
Good discussion, thanks @nwolverson @csicar

I'll just note that I'm on board with the Spago changes required to make this work (i.e. adding some `--compiler-args` flag and more config keys to the `spago.dhall`)

[2019-12-11 09:09] Ebmtranceboy commented on #520
I'm not sure to see what you mean by consistently. It sure happens constantly (I've checked again) with argonaut and affjax, no exception.
What is different each time is the position of the segmentation fault during installation process. For instance, trying a first time produces:

$ spago -v install argonaut

whereas the next produces

$ spago -v install argonaut

[2019-12-11 13:00] beebpeeb commented on #460
I have a fix for this issue. Is the preferred workflow to fork the repo and open a pull request?

[2019-12-11 13:29] f-f commented on #460
@beebpeeb that's great news! And yes what you describe is the preferred workflow 🙂

[2019-12-12 08:00] #460 closed

[2019-12-13 04:07] andyarvanitis commented on #434
FYI, I'm good with implementing whatever changes are needed in `psgo/pscpp` to support the spago commands

[2019-12-13 18:06] derekdreery opened #523 "spago not seeing re-exports"
I'm doing the following

[code]

and I'm getting an error `Unknown type CSS.CSS`. If I do `import CSS.Stylesheets (CSS)` then it works.  So it appears that re-exports aren't being seen.

the purs language server doesn't report any errors, so I wonder if it's a bug in `spago`.

[2019-12-13 22:18] derekdreery commented on #523
Actually I can recreate without using spago at all.

[2019-12-13 22:18] #523 closed

[2019-12-15 05:47] f-f commented on #518
@klntsky I agree on having the command, but why open a remote webpage and not the local docs?

[2019-12-15 10:18] klntsky commented on #518
Because we don't have everything that is in the set locally.

[2019-12-18 10:20] f-f commented on #518
Right. I was recently considering that downloading the whole package set for every project would be actually not that bad, because:
- with the global cache you would actually just download it once
- because of the above, starting projects offline would be totally feasible - it currently isn't because you'd have to download stuff if you wanted to use a library that is in the set but not cached, I g

[2019-12-18 10:22] f-f commented on #518
Of course we could do both, e.g. default local and remote with `spago search-set --remote`

[2019-12-18 10:34] f-f opened #527 "Perform "build artifact caching""
Problem: if I'm using the library `y` from package set `x`, it's silly that I have to rebuild this in every project. We currently have some of this caching in the form of sharing the output folder in the same monorepo, but this should not happen for reasons defined in #526

Instead of doing that, I propose we cache build products a-là Nix derivations, with some form of [content addressable cache](

[2019-12-18 10:52] hdgarrood commented on #527
You'll have to manually merge `cache-db.json` files if you want this to work, but I'd highly discourage that for a couple of reasons: firstly they are not part of the compiler's public API, so can change without warning, and secondly incremental builds are difficult enough to get right as it is, and I think having multiple different tools operating on these files makes it much more likely for thin

[2019-12-18 10:53] klntsky commented on #518
Downloading the whole set is not required for `spago install`, so it's better to do it before `search-set`.

Also, purescript/package-sets/issues/490 is still unresolved.

[2019-12-18 11:34] f-f commented on #527
@hdgarrood both the issues you linked are about making the compiler package-aware, which is something I would not like to happen at all.
If this global caching is going to be implemented compiler-side, IMO the right granularity for this caching to happen would be module-level - as it is right now - or ideally definition-level.

So, it looks like the situation is not entirely clear there, and I'd b

[2019-12-18 14:52] f-f opened #528 "Static binaries for Linux"
We should publish statically-linked binaries for our Linux releases. The reason for doing this is that various Linux distros ship different versions of some native libraries we link to, and dynamically linking means that the binary doesn't work out of the box on some of them, and people have to install dependencies with their package manager, etc etc.

It would be nice if we could instead build an

[2019-12-18 14:59] f-f commented on #518
Right, it's not yet implemented in `package-sets` CI, but it is almost solved in practice: basically we started having @spacchettibotti automatically upgrade dependencies in there (see e.g. https://github.com/purescript/package-sets/pull/547), and part of what it does is to run `spago verify-set` (which includes trying to ACME-build the whole thing as per the latest release) after trying to upgrad

[2019-12-19 05:16] hdgarrood commented on #527
Within the context of faster builds and not doing work that doesn't need doing, I think it makes a lot of sense to make the compiler package-aware; I'll try to expand a little and do my best not to derail. Essentially, my view is that it makes sense to consider two types of inputs to builds: published packages at specific versions, which don't change and which are often depended on across differen

[2019-12-19 06:47] f-f commented on #512
Alright, I'll then close this for now - as I like to keep issues actionable - and let's reopen it when we identify some useful subset of the codebase that could be useful on Hackage

[2019-12-19 06:47] #512 closed

[2019-12-19 06:53] f-f commented on #520
@Ebmtranceboy right, it looks like the segfault happens once Spago tries to fetch the tarball. Does the problem still occur if you pass `--global-cache=skip` to `spago install`? If yes, can you post the debug output?

[2019-12-19 07:21] f-f commented on #507
I don't seem to be able to reproduce, but I found similar issues in the Stack repo, e.g. https://github.com/commercialhaskell/stack/issues/793

One of the proposed solutons there is:
[code]

@bbarker can you try this one (and/or other solutions proposed in the thread there?)

[2019-12-19 10:24] hdgarrood commented on #528
Doesn’t spago depend on terminfo at the moment too? I think you’d need to drop that dependency for this to work, right?

[2019-12-19 10:44] f-f commented on #528
@hdgarrood I don't think so: IIRC we inherit that dependency from Dhall, which seems to be fine building static binaries with the same Nix machinery

[2019-12-19 10:54] hdgarrood commented on #528
Interesting, thanks.

[2019-12-19 15:33] cdepillabout commented on #528
@f-f I made a small proof-of-concept that builds `spago` statically:

[code]

This is using the great `static-haskell-nix` from @nh2.

If you have `nix` installed, and you save the above file as `static-spago-test.nix`, you should be able to build it as follows:

[code]

I didn't test everything, but it appears that `spago init` and `spago build` are working as well.

The initial build took about

[2019-12-19 15:44] cdepillabout commented on #528
One last thing, if you change the last line of that nix script above to be `static-haskell-nix.haskellPackages.purescript`, you can actually build `purs` statically as well:

[code]

[2019-12-19 17:52] Ebmtranceboy commented on #520
The problem doesn't occur if I pass the skip option :)
What does it do ?

[2019-12-20 02:58] f-f commented on #528
@cdepillabout thank you so much for looking into this and for the great writeup :heart:

To answer your points:
1. Yes! I added you as a contributor, so we can do this right away. I actually just cut a [new release](https://github.com/spacchetti/spago/releases/tag/0.13.0) and I'll wait for your upload before announcing it
2. This sounds great too. We could try Travis, or just switch to Github Acti

[2019-12-20 03:11] f-f commented on #520
@Ebmtranceboy when the global cache is enabled Spago will try to fetch `tar` archives from GitHub if it can - as they are much faster to download than doing a `git clone`, which is what happens when it cannot cache them and when you pass that flag.

So the fact that skipping the `tar` archives makes this work seems to be strong evidence that the segmentation fault is happening in the `tar` code, h

[2019-12-20 03:19] cdepillabout commented on #528
@f-f Sounds good!

However, it looks like there is already a statically linked version of spago uploaded:

https://github.com/spacchetti/spago/releases/download/0.13.0/linux-static.tar.gz

Did you already add this?  Is this sufficient for now?  Or is there something else you wanted me to add?

[2019-12-20 03:25] f-f commented on #528
@cdepillabout oh right, CI is building and uploading a broken static binary. Please remove that one and upload the good one there :smile:

[2019-12-20 15:26] elliotdavies opened #531 "Don't call `die` inside `ensureConfig`"
Off the back of https://github.com/spacchetti/spago/pull/515 we'd like to be able to use the logic of `ensureConfig` (checking for a valid `spago.dhall` file) without it calling `die` when it fails. Possible solutions are to throw an error instead, since that can be caught, or to have it return an `Either` and then call `die`/`throw` at its call sites.

[2019-12-20 17:46] Ebmtranceboy commented on #520
I've just built zlib-1.2.11 from source and installed it after the '*** zlib 64-bit test OK ***' message from make test, so I suppose I've upgraded it. Nevertheless, how to be sure on Ubuntu ?, it appears so messy sometimes! It seems zlib1g is installed also, what is its purpose ? So many questions. That's beyond me. I don't want to dig deeper. Maybe when I'm upgrading to a whole new Ubuntu, I'll

[2019-12-21 01:22] f-f commented on #520
@Ebmtranceboy thanks for looking into this and I'm sorry this doesn't fix your issue!

Let's leave this open for now, we'll verify after we make progress on #528, which should fix this once and for all

[2019-12-21 05:16] cdepillabout commented on #528
@f-f I've uploaded a static binary for spago for linux:

https://github.com/spacchetti/spago/releases/download/0.13.0/linux-static.tar.gz

It can be reproduced with this nix script:

[code]

If you save this script as `static-spago-test.nix`, you can build it and find the resulting tarball as follows:

[code]

[2019-12-21 06:20] f-f commented on #520
@Ebmtranceboy we now have a static binary! ([here](https://github.com/spacchetti/spago/releases/download/0.13.0/linux-static.tar.gz)) Could you try it and see if it solves the issue?

[2019-12-21 20:19] Ebmtranceboy commented on #520
Everything seems ok : I can install both argonaut and affjax without any issue.
May I ask what is the purpose of spago-curator? Is it mandatory to keep it next to the spago binary?

[2019-12-29 01:00] kakkun61 opened #533 "spago init and then spago build throw hGetContents error"
I got `spago.exe: fd:5: hGetContents: invalid argument (invalid byte sequence)` when I ran the following commands.

[code]

Tool |  Version
----|----
node | 13.5.0
npm | 6.13.4
purescript | 0.13.5
spago | 0.13.0

- Windows 10 Home 1909
  - chcp 932
  - chcp 65001

[2019-12-29 02:01] kakkun61 commented on #533
I think this is about the character code.

[2019-12-29 08:03] kakkun61 commented on #533
I found that turtle's [`shellStrictWithErr`](https://hackage.haskell.org/package/turtle-1.5.15/docs/Turtle-Prelude.html#v:shellStrictWithErr) throws this error called at https://github.com/spacchetti/spago/blob/426838670ba9de4593f4c533a6947efb2d8ad4ba/src/Spago/Purs.hs#L121.

[2019-12-29 08:16] kakkun61 commented on #533
Removing the following line fixes this problem in my case.

https://github.com/spacchetti/spago/blob/master/app/Spago.hs#L375

[2019-12-29 08:31] kakkun61 commented on #533
I think that almost all commands output to the standard output with the local encoding which is [Windows-31J](https://en.wikipedia.org/wiki/Code_page_932_(Microsoft_Windows)) in my case and that fixing UTF-8 is bad.

I think that with the standard input, the standard output, and the error output the local character code should be used and that with the file IO UTF-8 should be.

[2019-12-30 10:23] #410 closed

[2019-12-30 13:38] BebeSparkelSparkel opened #534 "Some Classes not in Doc Search"
When using the generated search the class `RowToList` is not found even though the module documentation for `Prim.RowList` has been generated.

[2020-01-03 14:13] klntsky commented on #534
Thank you for the report!

Unfortunately, `Prim.*` modules are built-in, they don't have real sources. Pursuit, being a Haskell app, has access to their docs that are constructed specially (see https://hackage.haskell.org/package/purescript-0.13.5/docs/Language-PureScript-Docs-Prim.html)

docs-search app is written in PS and can't link to the purescript compiler to get the data from there.

[2020-01-03 14:18] BebeSparkelSparkel commented on #534
Thanks

[2020-01-03 14:23] klntsky commented on #534
I guess this should be moved to spacchetti/purescript-docs-search#31

[2020-01-03 14:23] #534 closed

[2020-01-05 12:17] f-f commented on #520
@Ebmtranceboy happy to hear this works!

The `spago-curator` tool is used by maintainers only and doesn't need to be kept next to the `spago` binary - in fact you might notice that we don't publish it in our releases. You can find more info about it [here](https://github.com/spacchetti/spago/blob/master/app/Curator.hs)

Since this seems to be solved I'll go ahead and close this, let's reopen if th

[2020-01-05 12:17] #520 closed

[2020-01-06 19:31] ismailsunni commented on #104
Thanks @ford-prefect

[2020-01-10 01:17] f-f commented on #533
@kakkun61 sorry for delay in getting back to this and thanks for the detailed report :clap:

Yes, I agree that fixing `UTF-8` for all systems leads to bad things like this, but we had some issues when not fixing it as well, so the solution you propose might be the correct behaviour here!
However, it seems pretty hard to get right (mostly because we do piggyback on other executables to get things d

[2020-01-10 10:19] f-f commented on #528
A few updates:
- I just released `0.13.1` and I'm trying to build the above tarball locally, but it's taking _very long_, so if @cdepillabout or someone else is quicker to build it please upload the static binary on the release
- It looks like this static build was not affected by #520, so I'd like to deploy this more widely

[2020-01-11 04:55] cdepillabout commented on #528
@f-f

Thanks for the heads up.

I just sent a PR updating the `spago` in nixpkgs to 0.13.1: https://github.com/NixOS/nixpkgs/pull/77484.  I'll merge this in when CI passes.

I've also modified the above nix script so that it builds a statically-linked `spago-0.13.1`, based on this PR:

[code]

However, it seems like it will take a very long time on my machine as well, so I'll ping you again on thi

[2020-01-11 12:17] cdepillabout commented on #528
The nix script from the above post (https://github.com/spacchetti/spago/issues/528#issuecomment-573281764) did not work.  It looks like there was some problem with using static-haskell-nix with a recent version of nixpkgs, but I didn't really investigate to figure out why.

Instead, I decided to use the older (working) script from https://github.com/spacchetti/spago/issues/528#issuecomment-5681535

[2020-01-11 12:31] f-f commented on #528
I was wondering if we could cook some script ourselves that:
- calls `stack ls dependencies`
- calls `cabal2nix` for every package in the above list
- generates the above nix file with all the dependencies patched in

This would allow us to:
- run on any revision of `nixpkgs`
- continue using `static-haskell-nix`

[2020-01-14 10:50] cdepillabout commented on #528
@f-f I threw together a very small example of building `spago` with haskell.nix:

https://github.com/cdepillabout/spago/commit/d94d49a729d0c944afe03cad31956e9eaa5b6b13

It is on this branch:

https://github.com/cdepillabout/spago/tree/add-haskell.nix

If you checkout this branch, you should be able to build the `spago` executable with normal dynamic linking:

[code]

Unfortunately, this doesn't wo

[2020-01-18 17:02] f-f commented on #423
This just happened, thanks everyone :slightly_smiling_face: :heart: :tada:

[2020-01-22 08:40] meowjesty commented on #429
This was happening to me while I was trying to install a package with the vscode purescript ide running, it probably locks up the files like @stkb was saying.

If anyone else happens to face this issue:
- close vscode (or stop whatever IDE you're running), and do a `spago install` from your terminal.

[2020-01-22 15:56] Profpatsch opened #545 "Add --source-maps flag"
[code]

[code]

It would be great if the `--source-maps` flag could be passed to purs. According to https://github.com/purescript/spago/issues/216#issuecomment-496279796 it’s possible via `purs bundle`, but I gave up reverse engineering how exactly `spago bundle-app` calls `purs` (well, it doesn’t, it calls the library, which makes it harder even).

This should be easy to add.

[2020-01-22 16:11] f-f commented on #545
@Profpatsch we don't use the library, but call the binary. The call to `bundle` happens here:
https://github.com/purescript/spago/blob/cc755561d992406533e0ca1fd2fe4087c047a7bb/src/Spago/Purs.hs#L66-L80

I'm up for adding a `--source-maps` flag to spago, and it would conditionally add a flag for `purs` as it happens in line 68.

However you can already pass things to `purs` today, this should work:

[2020-01-22 20:08] Profpatsch commented on #545
Sadly it doesn’t, because that option passes flags on to the toplevel of purs:

[code]

[2020-01-24 02:24] Woody88 commented on #545
Hello,

I really appreciate this library, so I can make time this weekend to work on it!

[2020-01-24 21:27] f-f commented on #423
I'd need to cut a release but I don't have access to CI administration for the project under the `purescript` org, so I cannot add the various publishing tokens there because I'd need to be a member of `purescript`, and for some reasons I cannot be pulled in as a member of the org ([more info on Discourse](https://discourse.purescript.org/t/rfc-documenting-purescripts-governance-structures-policie

[2020-01-25 00:42] thomashoneyman opened #547 "Make `list-packages` command runnable in a Nix build environment"
## Summary

Some Spago commands cannot be run in a Nix build because of restrictions on the environment (namely, builds have restricted permissions and can mutate their temporary build directory, but can't write files outside it and can't access files outside it unless explicitly given a path to them, and network access is disallowed during the build). Some of these commands seem like they ought t

[2020-01-26 06:35] thomashoneyman commented on #547
spago2nix needs to know the package name, GitHub URL, and revision (the Spago 'version' field), which can be listed as JSON with `spago list-packages -f transitive -j`.

In order for this command to work offline it seems like the package metadata for all packages listed in `spago.dhall` would have to be available locally. Fortunately, the `upstream` field is populated with both a URL and a sha256,

[2020-01-26 07:51] cdepillabout commented on #547
I'm not sure if this is the error you're seeing, but the nix tools generally use a base-32 hash, not a base-16 hash.

Here's a couple links explaining the situation a little (although nothing super informative):

- https://github.com/NixOS/nix/issues/806
- https://github.com/NixOS/nix/issues/1880
- https://discourse.nixos.org/t/how-to-calculate-the-sha256-parameter-of-the-pullimage-function/250

(

[2020-01-26 09:24] Woody88 commented on #545
Hey,

So, It implemented the feature. Everything seems to be working fine.
I added "--source-maps" flag, and also added, "-x" as the shorter version because "s" and "m" were already taken. If you prefer another letter please let me know.

I also added a test case:
https://github.com/Woody88/spago/blob/aa0e2ac550ab0885e04bd774867ab49ab325e19f/test/SpagoSpec.hs#L648-L653

However, line 653 is giving

[2020-01-26 19:28] f-f commented on #547
@thomashoneyman one of the reasons why we have the hashes on the package set import in `packages.dhall` is to avoid refetching it every time we Dhall-evaluate that file.
The reason why we don't have to refetch it is that the first time we evaluate the `packages.dhall` file then the file at that URL is fetched, hashed, and if the hash matches with the one in the file it gets stored in the Dhall cac

[2020-01-26 19:30] f-f commented on #547
Re having an `--offline` flag: yes, this has been on my radar for a while (I had to use Spago while offline some time ago, and it was terrible), but I didn't have time to look at it yet, so everything is welcome on this side of things :slightly_smiling_face:

[2020-01-26 19:31] f-f commented on #545
@Woody88 yes, only checking that the file is there sounds sensible to me :slightly_smiling_face:

[2020-01-26 19:50] justinwoo commented on #547
I think there's information missing in here that the yarn2nix uses the yarn.lock file checked in as a source of information, since a package definition in yarn.lock looks like this:

[code]

So this then allows for generating nix expressions at runtime from this file using the "integrity" field. Otherwise yarn2nix would not work, unless the derivation were jailbroken to allow for network requests.

[2020-01-26 20:01] justinwoo commented on #547
"Could not resolve host" just comes from the derivation environment being sandboxed. Given default.nix:

[code]

You will get the following when you try to build it:

[code]

[2020-01-26 20:06] thomashoneyman commented on #547
@justinwoo I was just looking at that, and that’s a good point; since we don’t record the sha256 for the packages themselves I would still have to make network requests to calculate those (nix-prefetch-git). So unless the package sets themselves included a hash for each package to verify its contents I don’t believe this is possible.

@f-f Thanks for explaining the cache, that’s helpful and does m

[2020-01-26 20:09] justinwoo commented on #547
Sorry, I will unsubscribe from this thread now. Hope you figure this out, or please have someone from your company contact me.

[2020-01-27 00:37] f-f opened #550 "Check that `psci-support` is installed when starting a repl"
We should check that we're including the `psci-support` as a package when starting a `spago repl`, as the error message can be quite misleading, e.g. see [this thread](https://discourse.purescript.org/t/spago-repl-fails-to-star/1113).

[2020-01-27 01:01] thomashoneyman commented on #547
While I still think it would be nice to have a way to list packages -- with their `sha256` hashes -- offline, this issue is requesting a specific piece of functionality which would require quite a bit more thought to explore and implement properly with consequences beyond the narrow use case I've described here. With that in mind, I'm going to go ahead and close this, though we can continue chatti

[2020-01-27 01:01] #547 closed

[2020-01-27 02:55] cdepillabout commented on #528
I wanted to give an update on what I've done with this so far.

I've created some nix files that are able to use haskell.nix to successfully build all the dependencies of `spago`.

Here are the two files from the branch I am working on:

`nix/default.nix`:

[code]

`nix/spago-overlay.nix`:

[code]

These files are available on this branch:

https://github.com/cdepillabout/spago/tree/add-haskell.ni

[2020-01-27 11:16] f-f commented on #547
You're welcome 🙂

[2020-01-27 14:42] gcsolaroli commented on #550
@f-f, could you please provide some rough hints on where to start looking into the spago code base for this issue?

[2020-01-27 14:59] f-f commented on #550
@gcsolaroli yes, thanks for asking :slightly_smiling_face:

Basically the implementation for the repl command is here:
https://github.com/spacchetti/spago/blob/cc755561d992406533e0ca1fd2fe4087c047a7bb/src/Spago/Build.hs#L172-L179

..and the line that collects the dependencies before starting the repl is this one:
https://github.com/spacchetti/spago/blob/cc755561d992406533e0ca1fd2fe4087c047a7bb/src

[2020-01-27 15:17] gcsolaroli commented on #550
I'll give it a try, thanks.

[2020-01-28 08:57] seanyu4296 opened #552 "Update README to show shared output is deprecated"
Currently shared output path is deprecated, but it is still stated in the documentation under Monorepo that it still seems to support it. This may become misleading.

https://github.com/spacchetti/spago/pull/526

[2020-01-28 11:34] Profpatsch commented on #545
Just leave it out, short forms are usually making scripts harder to read (especially if they don’t correspond to the first letter of the command), and I don’t think `--source-maps` is going to be used on the command line a lot.

[2020-01-28 14:33] f-f commented on #545
We are using Turtle's wrapper of `optparse-applicative`, so actually having a shorthand is easier than not having it when patching the code. I'd actually like to port the whole CLI parser to `optparse-applicative` since it got big enough, I'll open an issue for this.

[2020-01-29 13:16] BebeSparkelSparkel opened #554 "fix import warnings"
What are your thoughts on automatically fixing import warnings?

[2020-01-29 13:25] klntsky commented on #554
Editor plugins are more fit for this task. Users don't expect a build tool to edit the sources.

[2020-01-29 13:26] BebeSparkelSparkel commented on #554
thanks

[2020-01-29 13:26] #554 closed

[2020-01-29 13:29] f-f commented on #554
@klntsky I generally agree, though I was thinking that it could be cool to have a hook for running `purty` when building - I don't know if it does fix imports, but a linter is way more fit than a build tool for this. If this makes sense we can open an issue (or repurpose this one) to track this.

[2020-01-29 14:21] klntsky commented on #554
Perhaps most users are using npm scripts or a task runner, so they could trivially add purty to their build chain if they wanted.

We can't integrate with every tool in existence, so if we do, we need a strong incentive to. What benefits can integration with purty provide, in comparison with running purty from a task runner?

[2020-01-29 14:23] f-f commented on #554
Right. Now that I think of it we already are a task runner since we have all the `before`/`then`/etc stuff, so I guess we should just have a way to add those to the config file

[2020-01-29 18:53] bbarker commented on #507
Confirmed that doing `export LC_ALL=C.UTF-8` works in that case. Out of curiosity and to refresh my memory perhaps, what is the reason spago uses something other than the other alternative that works above, like:

[code]

[2020-01-29 23:10] f-f opened #555 "Create a `.purs-repl` file when doing `init`"
When doing `spago init` we should create a `.purs-repl` file including `import Prelude` (like Pulp does) so that the repl "just works".

[2020-01-30 09:30] f-f commented on #507
@bbarker that's in fact the command that Spago uses to create a tag:
https://github.com/spacchetti/spago/blob/dc8a4b12b2bf25f8657e74a42ba2d55e3c63e41d/src/Spago/Git.hs#L41

..though I suspect it does it without a populated environment, which it might be the reason why you get a different result.

In any case, given that the solution proposed above works, I guess the solution is to inject `LC_ALL=C

[2020-01-30 12:56] hdgarrood opened #557 "Retry in case of network errors"
We are occasionally seeing errors like this in our CI logs:

[code]

Rerunning the build usually fixes it. Could spago catch these and retry a couple of times before giving up?

[2020-01-31 11:42] #555 closed

[2020-02-01 11:25] f-f commented on #24
I'll close this as conditions have changed, see [here](https://discourse.purescript.org/t/the-bower-registry-is-no-longer-accepting-package-submissions/1103)

[2020-02-01 11:25] #24 closed

[2020-02-01 11:25] f-f commented on #471
It looks like there hasn't been much activity in the last months here and I'm trying to tidy up the backlog, so I'll close this for now. This is still something that we could have, so feel free to reopen it if needs be

[2020-02-01 11:25] #471 closed

[2020-02-01 11:25] f-f commented on #72
I'm going to close this as it looks like this is not something that we clearly want. I suspect something along the lines of this command might pop up when designing the new registry, but I think we can archive this for now.

[2020-02-01 11:25] #72 closed

[2020-02-01 18:55] milesfrain commented on #65
Note for new readers, the `-i` "ignore" flag should be replaced with the `-w` "watch" flag.
@f-f Feel free to edit to prevent additional confusion.

I'm using a combination of these commands in separate terminals for automatic page reloading upon file changes:
* `watchexec -w src -e purs -- spago bundle-app     .......`
* `parcel serve      ........`

[2020-02-02 00:30] #552 closed

[2020-02-02 01:04] #531 closed

[2020-02-03 16:43] mhmdanas opened #564 "Spago errors when used with Yarn 2 Plug'n'Play"
Using Plug'n'Play (PnP) with Yarn 2, I get the following error whenever trying to run `spago`:
[code]
However, it still works on Yarn 1 PnP.

[2020-02-03 21:41] f-f commented on #564
Thanks for the report @mhmdanas! I'm not sure how I can try to reproduce this, could you post more info about exactly which version of yarn you have installed, and how I have to configure it to have it use PnP? Then is it enough to call any spago command to trigger this?

[2020-02-04 03:11] mhmdanas commented on #564
Sorry for not giving a reproduction; I was in a hurry.
To reproduce:
1. Install Yarn 2: `npm i -g yarn@berry`
2. Create project with the following `package.json`:
[code]
3. Try running any spago command; even `yarn spago` errors

On a related note, it seems the issue here is not with spago, but with Yarn. Trying to run PureScript directly gives a very similar error:
[code]
Perhaps Yarn 2 PnP doesn

[2020-02-04 11:52] f-f commented on #564
@mhmdanas thanks for the repro and for investigating this further! Yeah, if `purs` is also affected then it looks like this is a Yarn bug and should be reported there :slightly_smiling_face:

[2020-02-04 13:17] f-f commented on #557
Of course I cannot reproduce, but #565 should fix this

[2020-02-04 13:51] #557 closed

[2020-02-04 19:23] mhmdanas commented on #564
It seems an issue was already opened for this: yarnpkg/berry#882.
But according to one of the members, it's a wontfix; see https://github.com/yarnpkg/berry/issues/882#issuecomment-581180752.

[2020-02-04 19:53] hdgarrood commented on #564
I have no intention of changing the purescript compiler npm package to work with yarn 2 pnp, especially since it’s not clear to me that this is even possible. I’m not sure the concern they have of non-portability really applies here, because our postinstall scripts ensure that the appropriate binary is installed. Personally I don’t really care enough to make this case to the yarn maintainers that

[2020-02-06 00:24] flip111 opened #567 "Not seeing build errors or warnings with npm run dev"
I followed the readme for setting up spago with parcel. When i run `npm run dev` i don't get to see warnings or errors from the purescript compiler.

[code]

[2020-02-06 15:16] mhmdanas commented on #564
Quote from the issue:

Perhaps this might be the right way to make it work with Yarn 2 PnP.

I'd like to make a PR for this, but I'm not knowledgeable enough to do so.

[2020-02-06 15:25] hdgarrood commented on #564
Oh right okay, thanks - although, the purescript compiler npm package used to use a separate JS wrapper script, but it makes the repl behave weirdly, presumably because all input and output is going via an unnecessary node process. I never dug into it properly becaues having the npm package point at the binary directly fixed the issue.

I should clarify that I am only talking about the purescript

[2020-02-06 17:44] f-f commented on #564
I'd say that it does make sense to keep `purs` and `spago` policies synced on this, mostly because:
- we have `spago repl`, and that might suffer from the same problems @hdgarrood mentioned above
- I think it's of little use to users if `spago` can be installed with PnP but `purs` cannot

This said, I'm fine with any option here: if someone contributes a fix that doesn't cause problems with the re

[2020-02-07 11:48] mhmdanas commented on #564
Oh, right, sorry for the confusion.

I'd like to help with this since it's relevant to me. Additionally, Yarn is recommended by [the recommended tooling thread in Discourse](https://discourse.purescript.org/t/recommended-tooling-for-purescript-applications-in-2019/948) and PnP is going to be the default instead of `node_modules` in Yarn v2. So I'd appreciate a little guidance on fixing this issue.

[2020-02-07 11:49] mhmdanas commented on #564
Sorry, closed by mistake.

[2020-02-07 13:01] hdgarrood commented on #564
Yes, I think moving to Discourse is appropriate.

[2020-02-07 16:22] mhmdanas commented on #564
OK... so I created an account and got the 'Basic' badge, but I can't find how to post. Do I still not have the privilege, or is it something else? (I'm sorry if it is something obvious)

[2020-02-07 17:00] thomashoneyman commented on #564
@mhmdanas Sorry about that — your post had just the link to this issue, and Discourse is careful about new users who post just a link. I’ve approved the post and it’s live now.

I think it would help get more action on that thread if you added some of the context of this thread to the post directly.

[2020-02-07 17:55] mhmdanas commented on #564
Created the Discourse post: https://discourse.purescript.org/t/issue-spago-errors-when-used-with-yarn-2-plugnplay/1133?u=mhmdanas.
Also added some context as @thomashoneyman suggested.

[2020-02-09 14:26] flip111 commented on #567
When closing stdin on purpose:

https://superuser.com/a/813481/407920

[code]

[2020-02-09 14:49] flip111 commented on #567
Probably requires stdin because of `Press enter to force a rebuild.`

[2020-02-09 15:12] flip111 commented on #567
When i clone this repo and checkout `0.13.1` and then run that with the compiled binary i can not reproduce this error. However in the version from npm the problem is definitely there.

sha-256
[code]

Not sure how to get the same binary as was packaged with npm

[2020-02-09 15:22] flip111 commented on #567
With not always reproduce i mean:

[code]

[2020-02-09 15:25] flip111 commented on #567
My temporary workaround is to change this line

https://github.com/purescript/spago/blob/master/src/Spago/Watch.hs#L166

to `forever $ do`

[2020-02-09 20:50] #423 closed

[2020-02-09 20:56] f-f commented on #567
@flip111 thanks for looking into this! I'd say we have two options to fix this here:
- change the README to recommend running `spago build --watch` in another terminal (this would be my preferred option)
- add a flag that removes reading from stdin when watching

[2020-02-09 21:12] f-f commented on #545
Fixed in #562

[2020-02-09 21:12] #545 closed

[2020-02-09 21:26] flip111 commented on #567
Third option might be figuring out to let npm keep stdin open, but i didn't have any luck researching that option.

I prefer a new flag that also removes text like `[info] Type help for available commands. Press enter to force a rebuild.`.

[2020-02-11 06:01] cdepillabout commented on #528
I've uploaded a statically linked `spago` binary for the 0.14.0 release:

https://github.com/purescript/spago/releases/download/0.14.0/linux-static.tar.gz

This was built with the following nix file:

[code]

(If you uncomment the last line, you can also build a completely statically-linked version of `purs`).

-----------------------

As a follow-up for trying to get haskell.nix building spago st

[2020-02-11 09:48] nh2 commented on #528
The reason for that is the following:

`pkgsStatic` is the "extreme" package set on top of `pkgsMusl` where packages _only_ have static libraries (`.a` files) and no `.so`s. For TemplateHaskell, we need `.so` files so that the TH interpreter (ghci) can load them. `pkgsStatic` is (currently) used when you want some C project statically linked (like `pkgsMusl.git` would be a statically linked git ex

[2020-02-13 06:15] Woody88 commented on #370
Hi @f-f,

What are the requirements for this issue?
So far my understanding is this:
- Create a new flag called "tag" which accepts a package-set version, i.e: psc-0.13.2-20190725
- Set the upstream value in package.dhall using the tag value that was passed in

Should we use Github API to get the url for the tag?
I read the discussion above but it isn't clear to me.

Do you know what are the modul

[2020-02-13 12:25] f-f commented on #370
Hi @Woody88, thanks for asking about this! I'll try to clarify both the spec and scope for this issue, together with giving a few entry points to the code.

I'd say the "definition of done" for this issue would be so that:
- we'd add a `--tag` flag to the `init` and `upgrade-set` commands
- when given this flag, Spago would try to find out (somehow) if there exist a package set with that tag, and

[2020-02-14 16:42] flip111 opened #570 "Confirm before installing guessed package name"
[code]

https://github.com/garyb/purescript-debug

https://github.com/Unisay/purescript-binary/blob/master/src/Debug.purs

[2020-02-14 16:45] flip111 commented on #570
I think actually the right package as installed in this case but it wasn't loaded yet. Anyway i leave this open because i think it will be useful.

[2020-02-15 08:16] Woody88 commented on #370
@f-f
Thanks for the detailed explanation. I still need you to clarify a few things for me... sorry 😐.

First, let me tell you what I have done so far:
- Added the "--tag" flag as an option for "init" & "upgrader-set" https://github.com/Woody88/spago/blob/8b17a011143087b39c180ecab02b7385614028c1/app/Spago.hs#L425-L433
- Added the logic that fetches all the tags of package-sets
https://github.com/Wo

[2020-02-16 17:36] joneshf commented on #288
@f-f Given that `bower` changed the registry to [no longer support creating new packages](https://github.com/bower/registry/commit/47f105689c1ad620b2fa9da4579b19931d955e47#diff-168726dbe96b3ce427e7fedce31bb0bcR79-R85), and confirmed it in [a follow-up issue](https://github.com/bower/bower/issues/2558), where do we sit on this issue? The `bower`/`pulp` workflow for new packages doesn't work anymore

[2020-02-17 09:12] f-f commented on #570
@flip111 I'd like to understand more the situation you were in: it sounds like you were in the IDE, then installed a library, and expected the IDE to pick it up, but it didn't happen until you did a `spago build`. Is this correct?

If that's the case, then I think it'd make sense to automatically build a library that is being installed with `spago install $library`.

Re asking for confirmation whe

[2020-02-17 11:04] flip111 commented on #570
I was have `spago build --watch` then `spago install purescript-debug` in another terminal window.

From the warning i understood that some heuristic was being done. It's quite a strong warning

But if it's not some text-searching function but instead just about the `purescript-` prefix, maybe instead something like

[2020-02-17 11:45] f-f commented on #370
@Woody88 no worries at all! Your code looks good so far.

To answer your questions:

Yes, and yes. However, we can offload the work of updating this file to the `Curator`, which already has automation to upgrade the `packages.dhall` file every time there's a new release, here:
https://github.com/purescript/spago/blob/0323b527712b9808cf3ab7b428c79a6f43a2c646/app/Curator.hs#L284-L293
If we are going

[2020-02-17 12:01] f-f opened #572 "Watch `spago.yaml` when in watch mode, so that we pick up new packages"
In #570 we figured that if a user does a `spago install` while a `spago build -w` is running, then the new package is not picked up. We could fix this by watching the `spago.dhall` (or whatever config file is being used), and dynamically loading the source paths in the watcher

[2020-02-17 12:04] f-f commented on #570
@flip111 good points.

I opened:
- #572 to track the fact that the watcher should pick up new packages
- #571 to make that warning milder - I'll consider that a fix for this issue

[2020-02-17 12:09] f-f opened #573 "Add `--template` flag to `init` command"
As mentioned in [this comment on Discourse](https://discourse.purescript.org/t/recommended-tooling-for-purescript-applications-in-2019/948/17) it would be really nice if Spago could have templates.

Examples from the post for how this could look like:
[code]

Opening this issue to track this, I don't have an opinion on how this should be implemented, but looking at previous art (e.g. Stack templat

[2020-02-17 18:40] #570 closed

[2020-02-17 20:55] JordanMartinez commented on #573
Just a "way out there" question. How would this work if a project could be implemented by multiple backends? For example, the `cli` one. I see a few options:
1. Specify the backend in the template name (e.g. `cli-js`, `cli-go`, `cli-c`)
2. Use a separate flag to indicate the backend (e.g. `--template cli --template-backend js`)
3. Specify the backed in the template flag itself (e.g. `--template-js

[2020-02-17 23:56] milesfrain commented on #573
Is `spago` the right tool for managing templates, especially with multiple backends?

I've had such a great experience with `spago init`, that `--template` seemed like a natural extension.

But after reading "[Why can't `spago` also install my npm dependencies?](https://github.com/purescript/spago#why-cant-spago-also-install-my-npm-dependencies)", it seems like spago should be a dependency of the

[2020-02-18 01:37] cdepillabout commented on #528
There is a new fix on haskell.nix that appears to fix the above I was seeing above:

https://github.com/input-output-hk/haskell.nix/pull/448

I should try this fix with the code from above, and see if I can get static linking working.

[2020-02-18 19:26] balsoft commented on #528
Hi, I've got no idea what this repo is and what it does, but if you want a simple, clean example of building working and small static binaries for Linux with `haskell.nix` and `musl`, check out https://github.com/serokell/xrefcheck/blob/master/xrefcheck.nix . And, if you have any more questions about that setup, don't hesitate to ask me.

[2020-02-19 03:44] JordanMartinez commented on #573
I agree with @milesfrain. This feels more like a documentation issue (i.e. "What are various starter/template projects that I can use to get started on X app?") than a feature that Spago should support as it avoids a number of issues.

To make this even simpler, one could instruct everyone to tag such repos with a `purescript-template-project` tag on GitHub, so people could find such projects by s

[2020-02-19 05:51] cdepillabout commented on #528
@balsoft Thanks a lot for the link!  I'll definitely check it out.

[2020-02-20 09:28] f-f commented on #288
@joneshf yes. Since we'll [have control over the new registry](https://github.com/purescript/registry) we can (and I think we should) make this configurable, since we'll be packaging sources in a tarball anyways. We can leave this issue open or close it and move the discussion over to that repo, since the implementation details will have to be ironed out there first

[2020-02-20 09:30] f-f commented on #573
I generally agree with @milesfrain that doing a `git clone` should be enough, but I think the main problem we have at hand is "discoverability", i.e. how would people know that:
1. there are templates available
2. which templates are up for grabs
3. ..and which of them are actually any good

So I think curating a page in the official documentation would be nice - I'd even go as far as having a sma

[2020-02-20 12:27] joneshf commented on #288
Sweet! Excited to see what comes of the registry.

Maybe keep this issue open until there's a concrete way forward, if that's alright?

[2020-02-21 02:37] JordanMartinez commented on #573
@f-f I agree. I think my proposed solution is a very fast way to get something going now, but not the best long-term solution.

[2020-02-21 06:01] thought2 opened #575 "Add `--offline` flag"
Currently there's no way to ensure that `spago` does not connect to the network. Even if all dependencies are installed, `--no-install` is set, there's still traffic.

This makes `spago` unusable in pure CI environments, such as `nix`. And it would be nice if that was not the case.

[2020-02-21 06:43] milesfrain commented on #573
Agreed. This is also what [TypeScript does](https://www.typescriptlang.org/samples/index.html).[1]

How do we decide which templates to feature?

Here are some ideas for criteria:
* Template and framework are compatible with latest PS compiler
* Framework documentation published to Pursuit
* Only one template per framework
* (?) Template maintained either under framework org or PS org
* (?) Templa

[2020-02-22 23:43] hdgarrood commented on #573
I might suggest moving this discussion to discourse: https://discourse.purescript.org. It might get a bit more traction there?

[2020-02-23 05:23] thautwarm commented on #434
Hi, I'm now maintaining [this purescript python backend](https://github.com/purescript-python/purescript-python)(aka `pspy`), and I have concerns here.

Firstly, I'm okay with making changes to `pspy` CLI to support spago commands, and what I care most here is how to deal with FFI files.

Libraries published to pursuit always contain only `.js` files, i.e., only JavaScript FFI natively. I saw some

[2020-02-23 16:50] f-f commented on #573
I'll close this since it looks like it's something that should be done outside of Spago, and [the discussion has moved to Discourse](https://discourse.purescript.org/t/featured-templates/1188)

[2020-02-24 07:27] thought2 opened #577 "`docs --project-only`"
Currently there's the `--deps-only` flag, which generates documentation only for the dependencies of a project and not for the project sources itself. But isn't it more common that you'd like the opposite?

[2020-02-24 10:40] f-f commented on #577
@thought2 how would this work? It's not possible to compile docs without including dependencies - because the compiler needs to typecheck/etc so you need the whole dependency tree. A solution could be to compile with everything but then remove the docs related to dependencies - but this would leave us with lots of broken links pointing to the non-existing files, so this doesn't work either.

My gu

[2020-02-24 15:27] thautwarm opened #578 "Cannot genenerate Bower config using spago"
[code]

The package is [purescript-show-python](https://github.com/purescript-python/purescript-show-python
).
I've already read some configs from repos of published libraries, such as [purescript-dotenv](https://github.com/nsaunders/purescript-dotenv). Just cannot figure out what's wrong with me.

[2020-02-24 15:45] f-f commented on #578
@thautwarm are you on the latest Spago version? That command works for me, and I get this `bower.json`:
[code]

[2020-02-24 15:57] thautwarm commented on #578
@f-f I found this is platform-specific. Above error just occurs on Windows, but in any Linux distros(arch and ubuntu) things are totally fine.

[2020-02-24 15:58] thautwarm commented on #578
I've already use `npm update -g spago` in Windows.

[2020-02-24 16:02] thautwarm commented on #578
Got it. In Windows I didn't install `bower`, and the error message tells just nothing.
In Linux, the error message is
[code]
which makes a lot of sense and can drive me to accomplish the following steps.

I'll close this issue, but I'd strongly suggest to make a better error reporting for Windows users.

[2020-02-24 21:34] bbarker opened #579 "Spago should respect TERM=dumb or TERM=win"
See e.g. https://github.com/9fans/plan9port/issues/180#issuecomment-423258108

I'd like to disable escape sequences from output when not using spago from a live terminal, e.g., for logging.

[2020-02-24 22:07] f-f commented on #579
@bbarker great point :+1:

Does using `--no-color` work for now?

[2020-02-25 01:36] felixSchl opened #580 "Allow --purs-args to be passed to 'purs bundle'"
For `spago bundle-app` and `spago bundle-module` it is currently impossible to pass arguments straight down to `purs`. We're running into extremely long build times on Circle CI due to PureScript detects more cores than are actually available. We get around that by setting `--purs-args='+RTS -N2 -RTS'`. However, this only works for `spago build`, not for the bundle commands (https://github.com/pur

[2020-02-25 03:14] bbarker commented on #579
Yes, thanks for pointing that out! I was using an older version of `spago` in my container that didn't have that option.

[2020-02-25 09:22] f-f commented on #579
Fix up in #581

[2020-02-25 11:15] #579 closed

[2020-02-26 04:31] JordanMartinez opened #583 "Spago doesn't upgrade to latest package set"
[code]

Any idea why this might be happening?

[2020-02-26 08:29] f-f commented on #583
@JordanMartinez it could be because I slightly messed up publishing the latest `package-sets` tag. I just cut a new release, could you try to upgrade again in some time?

[2020-02-26 09:23] thought2 commented on #577
Yeah right, the actual problem is to 'find the project docs in the sea of docs'. I'll close and add some thoughts in the linked issue.

[2020-02-26 09:23] #577 closed

[2020-02-26 20:24] JordanMartinez commented on #583
Yup, that fixed it. Thanks!

[2020-02-26 20:24] #583 closed

[2020-02-26 20:28] f-f commented on #583
You're welcome 🙂

[2020-02-29 15:53] gomain commented on #477
**Work around**

in _spago.dhall_ file do

[code]

to include only files not starting with a `.`

[2020-02-29 16:04] gomain commented on #477
Would be nice if spago just ignored all the .gitignore files.

[2020-03-09 09:54] sgalal opened #590 "Cannot bundle functions with Chinese character names"
Steps to reproduce:

[code]

Modify `/src/Main.purs`:

[code]

Then:

[code]

[code]

[2020-03-09 11:44] elliotdavies opened #591 "Output global cache dir in `spago path`"
At the moment it's a bit hard to tell where the global cache lives. `spago install -v` will output its path, as mentioned in the README, but only if the installation process actually runs. If the project is already fully installed, the path won't be printed.

I'd suggest printing the cache dir as part of `spago path`, which already lists the `output` directory being used. (Also perhaps that should

[2020-03-09 12:09] f-f commented on #590
@sgalal I think this issue might belong to the PureScript compiler? Spago here doesn't do anything else other than just passing things to the compiler. Can you try reproducing with just `purs`? You can get the `purs` commands that Spago is using by calling it with the `-v` option

[2020-03-09 12:23] f-f commented on #591
@elliotdavies yes this is a good idea!

I don't have a strong opinion on `spago path` vs `spago paths`, but I'll just note that:
- less chars to type is usually better
- Stack uses `path` too

[2020-03-09 12:43] sgalal commented on #590
@f-f Thank you. I have created an issue there.

[2020-03-09 12:43] #590 closed

[2020-03-09 13:41] f-f commented on #590
You're welcome! :slightly_smiling_face:

[2020-03-09 13:48] f-f opened #592 "Install autocompletions"
I'd like to have the npm install script also configure the autocompletion for Spago. We can produce an [autocompletion script](https://github.com/pcapriotti/optparse-applicative/wiki/Bash-Completion) already, but I'm not sure how to install it.

Some useful links to dig more into this: [1](http://source.git-annex.branchable.com/?p=source.git;a=blob;f=Makefile;h=965f53e1fc4a8f6d69041eabaccd759268f6

[2020-03-11 16:31] hdgarrood commented on #592
I manage my bash configuration in a git repository with different concerns split out into different scripts, so trying to do this in an automated way is more or less guaranteed to not do what I want. In general I think it's bad etiquette to modify dotfiles in $HOME automatically (unless those dotfiles specifically relate to the program which is modifying them, ie I don't mind git modifying `~/.git

[2020-03-11 16:39] f-f commented on #592
@hdgarrood sure, we could ask for confirmation or add a flag for this, but I'd consider this an implementation detail compared to setting this up in the first place - e.g. I did not manage to install autocompletions for my shell even when doing it by hand, so I don't think it's straightforward to automate this

[2020-03-13 00:22] Profpatsch opened #594 "Monorepo `as Location` logic breaks reformatting of spago.dhall"
We are using spago 0.14.0 from easy-purescript-nix: https://github.com/justinwoo/easy-purescript-nix/blob/14e7d85431e9f9838d7107d18cb79c7fa534f54e/spago.nix

When you have a monorepo as described in https://github.com/purescript/spago/blob/0.14.0/README.md#monorepo, you use something like

[code]

in `packages.dhall` to break the import recursion that would otherwise exist, because the `subpackage

[2020-03-13 00:25] Profpatsch commented on #594
Update: it’s not the record projection, this example works:

[code]

[2020-03-13 00:29] Profpatsch commented on #594
This, however, fails again:

[code]

[code]

Maybe it’s a dhall library bug?

[2020-03-13 00:36] Profpatsch commented on #594
Update: It works with the following workaround:

[code]

I assume this works because we have a `RecordLit` here to destructure on?

[2020-03-13 13:19] flip111 opened #596 "How to setup project to be able to call purescript function from javascript ?"
I'm using this setup https://github.com/purescript/spago#get-started-from-scratch-with-parcel-frontend-projects

And run `npm run dev`.

The purescript manual says i should be able to execute `shout(require('Prelude').showNumber)(42);`. This doesn't work though. I tried instead `console.log(require('../../output/Prelude'));` but this gave an empty object because there are no functions in the prelu

[2020-03-13 13:29] f-f commented on #596
@flip111 thanks for the report. I'm not entirely sure of what's happening here, some comments/ideas:
- I don't know why the `output/Prelude/index.js` file is empty
- in my experience when calling PS from JS, the least painful approach is to implement the whole logic in PureScript, and then call from JavaScript only the high-level functions that return "business-meaningful" results - I never tried

[2020-03-13 13:31] hdgarrood commented on #596
@flip111 I can help but can we move the discussion to [Discourse](https://discourse.purescript.org/) please?

[2020-03-13 13:41] flip111 commented on #596
@hdgarrood ok the copy can be found here https://discourse.purescript.org/t/how-to-setup-a-project-with-spago-to-be-able-to-call-a-purescript-function-from-javascript/1232

@f-f spago covers how to setup your project, i think it's in scope of spago to discuss this. Spago bundles all javascript into a single file. But it can also give instructions in the readme how to call other parts of purescript

[2020-03-13 13:50] flip111 commented on #596
Here are some possibilities for not having to work with relative path https://gist.github.com/branneman/8048520 I don't really like any of them. Perhaps the NODE_PATH one is the best. If i can get that to work so things like `require('Data.Set')` can be done i could update the readme with this additional information.

[2020-03-16 11:55] f-f commented on #594
@Profpatsch yeah sorry for that, the way we treat the config file is fairly magick for a series of historical reasons.

I hope to solve all of this by switching the place where `as Location` happens: so we'd refer to local dependencies with normal imports, but import the Package Set `as Location`.
We might be able to do this change in conjunction with the new registry, if the format in the PoC in

[2020-03-17 23:00] Profpatsch opened #597 "--config doesn’t take absolute paths"
lol

[code]

[code]

[2020-03-17 23:23] f-f commented on #597
Duplicate of #472, and there's a WIP fix in #505

[2020-03-17 23:46] #597 closed

[2020-03-19 22:12] marcosh opened #598 "Command to check that all symbols come from declared packages"
As far as I understand, with Spago and Purescript it is possible to use data types and functions coming from transitive dependencies (dependencies of declared dependencies).

This may cause problems if my declared dependency decides to remove one of its dependency which I'm using but not declaring.

To avoid such issues, it would be nice to have in Spago a command which checks that every function

[2020-03-21 11:04] f-f commented on #598
Yes, I think we should run this check. However, right now it's not really feasible to do it, as Spago would have to parse module imports, as we should really not do that. So in order to enable this (and other things), I implemented `purs graph` in the compiler (see ).

This will ship in `purs@v0.14.0`, and will allow us to get a mapping of what every module imports, together with the path to every

[2020-03-23 07:49] marcosh commented on #598
Oh, that's nice!

If the `purs graph` command had explicitely also the information on the package (the information is actually there, but hidden in the path), then performing this check would become very straightforward.

I agree that running this check at every build it the optimal solution. It should probably fail if we're importing from a non-declared dependency, while it should provide a notic

[2020-03-23 14:30] stacycurl opened #599 "Be able to inject build meta data into the compiled result"
Scenario: I want to show the version of the current code, or the time it was built, the git branch, spago version, etc.

A workaround I've applied manually is to add this to my code:
[code]

and then commit unholy acts using sed on the resulting js

[code]

and place that before invoking spago.

Example from Scala: https://github.com/sbt/sbt-buildinfo.

[2020-03-25 15:29] drewboardman commented on #104
Did you fix this by just symlinking? @masaeedu

[2020-03-25 15:30] ford-prefect commented on #104
@drewboardman you could try installing `ncurses5-compat-libs`

[2020-03-25 15:39] drewboardman commented on #104
@ford-prefect that worked. Thank you

[2020-03-29 17:30] #507 closed

[2020-03-29 17:30] #533 closed

[2020-03-29 20:53] f-f commented on #596
It looks like solutions for these issues were suggested in the Discourse thread, so I'm not sure what needs to be done here on the Spago side. I'll close this one for now, but feel free to reopen if there's some actionable feedback we could implement (e.g. documentation fixes, etc)

[2020-03-29 20:53] #596 closed

[2020-03-29 20:58] f-f commented on #564
Following the discussion on Discourse it looks like:
- the issue is still a wontfix for the Yarn team
- it doesn't really seem like there are any good solutions for workarounds so that Purs and Spago could use them
- the "recommended tooling" post has been edited to recommend NPM over Yarn

Given the above I'd say we cannot really do much about all of this, so I'll close this issue - however let's

[2020-03-29 20:58] #564 closed

[2020-03-29 21:01] f-f commented on #415
I just realized this is a duplicate of #598, I'll close this one as the new one is more up to date

[2020-03-29 21:01] #415 closed

[2020-03-29 21:02] f-f commented on #580
I just realized this is a duplicate of #216, I'll close this one as that has more info

[2020-03-29 21:02] #580 closed

[2020-03-29 21:04] f-f commented on #181
I'm removing the "blocked" label because a good first take at this (i.e. solving 90% of the problem) would be literally grepping the file searching for the string "`main =`"

[2020-03-29 21:07] f-f commented on #462
Taking a look after a while, it looks like we wouldn't really be able to solve this in the case of monorepos. I'll close for now, but let's reopen if we get any more insights

[2020-03-29 21:21] f-f commented on #433
So I gave this a try. It looks like `pnpm` has a crooked story when it comes to dealing with binaries.
This is still happening if you try calling `spago`, but it does work if you call the binary directly (which it correctly fetches):
![image](https://user-images.githubusercontent.com/5480361/77861159-a667ff80-7213-11ea-9445-7dd3aff41988.png)

I'll consider this "fixed", but of course it's not nice

[2020-03-29 21:21] #433 closed

[2020-03-31 21:04] daveman1010221 commented on #460
Hello! How do I get this fix in almost-April of 2020? I am using npm 6.14.4 and nodejs 13.12.0 on Ubuntu 19.10. As I found this error, I'm assuming I don't have this fix in my npm of spago yet.

[2020-03-31 21:36] f-f commented on #460
@daveman1010221 this shipped in [0.13.0](https://github.com/purescript/spago/releases/tag/0.13.0), and we already have `0.14.0` on npm, so maybe you're stumbling on a different issue?

[2020-03-31 22:09] daveman1010221 commented on #460
In fact, it was a different issue. Installation on my system required --unsafe-perm.

[2020-03-31 22:22] milesfrain commented on #80
It looks like a good workaround has been posted to the [devDependencies section](https://github.com/purescript/spago#devdependencies-testdependencies-or-in-general-a-situation-with-many-configurations) of the readme. Figured I'd post a reference to it here, since this issue is the first to appear when searching for "spago dev dependencies".

[2020-03-31 23:58] daveman1010221 commented on #460
Wow, I didn't know you _could_ update your node prefix, until you asked that question. I've done so now. Lots of mysteries solved. Thanks. :-)

[2020-04-05 14:21] flip111 opened #603 "Possible to replace pulp for publishing packages ?"
When reading https://pursuit.purescript.org/help/authors and the commands there.

I noticed that spago can already do the docs. So `spago docs` instead of `pulp docs -- --format html`.

Is it possible, or are there plans to support the other command through spago as well?

* `pulp version`
* `pulp login`
* `pulp publish`

[2020-04-05 14:23] klntsky commented on #603
See #396 for context.

[2020-04-05 15:17] f-f commented on #603
And #204

Also quoting my comment from #396:

[2020-04-05 15:19] f-f commented on #603
I'll also add that if anyone wants to implement the flow that `pulp publish` has right now as `spago publish` that would be fine by me - I just won't do any work on it myself as I'm focusing on getting the registry running

[2020-04-05 15:26] flip111 commented on #603
Ok i understand, thanks for the information.

[2020-04-05 15:26] #603 closed

[2020-04-05 15:34] flip111 opened #604 "Display all problems with spago.dhall at once"
[code]

Could both errors be listed at the same time?

[2020-04-05 15:39] klntsky commented on #604
These errors are coming from Dhall interpreter.

[2020-04-05 15:44] hdgarrood commented on #604
From looking at the issues tagged "error messages" on the `dhall-haskell` repo I can't see one which covers the issue you've raised: https://github.com/dhall-lang/dhall-haskell/issues?page=2&q=is%3Aissue+label%3A%22error+messages%22. It may be worth reporting this there.

[2020-04-05 15:57] flip111 commented on #604
Guys from dhall, say errors are not produced in dhall. https://github.com/dhall-lang/dhall-haskell/issues/1010#issuecomment-609438538

[2020-04-05 16:02] klntsky commented on #604
Oops, [that's right](https://github.com/purescript/spago/blob/a0e1cfa033cf6a644c07939b62bba3a74b8e38ab/src/Spago/Dhall.hs#L191), @flip111. Thanks for correction.

[2020-04-05 16:08] f-f commented on #604
Yeah this is due to the smarts of how we parse the Config for publishing - right now we just raise an error the first time we encounter it, but we should collect them instead before failing

[2020-04-07 09:40] mhmdanas commented on #564
BTW, I just wanted to say that I dug a little bit deeper, and it seems even when using Yarn 2 with the good old `node_modules`, it still gives the same error. So I edited the issue's title to reflect that.

[2020-04-07 13:42] flip111 opened #605 "new project generate with test.dhall"
In these docs https://github.com/purescript/spago#devdependencies-testdependencies-or-in-general-a-situation-with-many-configurations

The sentence

Threw me off like i had some situations to choose from. One being using `testDependencies` and the other one separate configuration files. From what i understood later using separate configuration files is the only way to do it.

Since `spago init` is

[2020-04-11 16:00] JordanMartinez opened #607 "Add command to install all packages in the set"
Having a command that did this would make it easier to update the ecosystem when we having breaking PS releases. Another option would be to document what to execute to get the same effect.

Since I don't know Bash as well as I probably should, I found that this worked after I looked into this more:
[code]

[2020-04-11 18:29] hdgarrood commented on #607
I think this does the job, and is a little more straightforward:
[code]

[2020-04-11 20:17] hdgarrood opened #608 "Treat `spago --version` the same as `spago version`"
Almost all of the other CLI tools I use regularly recognise `--version`, and I find myself writing `spago --version` quite often:

[code]

It would be nice if `spago version` and `spago --version` were treated the same way.

[2020-04-11 20:24] hdgarrood commented on #604
Is there a good way of asking `spago` to report the original error from Dhall rather than constructing its own error message? I'm coming across a sort-of-related problem where if a record key has the wrong type, the error from `spago` describes the key as "missing", e.g. if your spago.dhall says

[code]

then you get

[code]

[2020-04-11 21:02] hdgarrood commented on #607
I was thinking about this a bit more; since Dhall is supposed to be programmable, why not just derive the `packages` key as the full set of packages in the set?

I got pretty close with this:
[code]

but unfortunately this results in:
[code]

and there does not appear to be any way of filtering the `metadata` package out of the list, because Dhall deliberately does not provide a string equality op

[2020-04-12 08:36] f-f commented on #607
I'd agree with the solution from @hdgarrood - the reason why that's not working with the current `master` is that we're excluding (for no reason I think) the `metadata` package from the set. With the patch in #609 everything works as intended :smile:

P.S.: well, the whole `metadata` package thing is a giant hack and it's due to keeping backwards compatibility with the package set format. I hope w

[2020-04-12 11:03] f-f commented on #605
Yes! This is a duplicate of #416, which I intend to implement

[2020-04-12 11:03] #605 closed

[2020-04-12 11:11] f-f commented on #578
@thautwarm yes, this makes sense. I fixed this in #610, where we look for the bower executable beforehand and fail with a decent error message if not found.

[2020-04-12 11:12] f-f commented on #608
Yeah, this sounds good to me :+1:

[2020-04-12 11:15] f-f commented on #604
@hdgarrood the reason why error messages are so far away from Dhall ones is that our config is a bit of a special Dhall file (for historical reasons, and backwards compatibility, etc).
We'd really need some tidying up in the way we handle/manage/parse the config in the `Spago.Config` module. Related: #594

[2020-04-12 17:46] JamieBallingall commented on #404
I like the idea of a command line helper but I think we should be aware that it takes us in the direction of a full set of commands to view and edit `packages.dhall` from the command line. So we probably end up with `spago ls overrides`, `spago ls additions`, `spago remove https://github.com/slamdata/purescript-aff.git#master` and so forth.

That would be lovely -- I would prefer it to editing `pa

[2020-04-12 20:26] #578 closed

[2020-04-14 16:08] #393 closed

[2020-04-14 19:22] JordanMartinez commented on #416
I'm not as familiar with Dhall as others, so I'm not sure how relevant this comment is. However, do we really need two separate files though?

It seems to me that the name and packages part of this file will be the same for both the `src` code, `test` code or even a hypothetical `benchmark` code. Most likely one will depend on another, but I'd imagine that it should still be flexible enough to use